<h1> Data Handling - Preparing Data for Modelling </h1>

<h2> Preliminary Steps </h2>

Let's begin with importing the necessary libraries:

In [51]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup
import re
import requests
from datetime import datetime, timedelta
import json

For this step, we need to load the dataframes which are the final product of our two crawling steps:

In [29]:
df_arrivals = pd.read_csv("flight_arrivals_JFK_raw_data.csv")
df_departures = pd.read_csv("flight_departures_JFK_raw_data.csv")

<h2> The Process </h2>

<h3> Data Analysis </h3>

First, Let's merge both of the csv files to one big DataFrame

In [30]:
merged_df = pd.concat([df_arrivals, df_departures])
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS
0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,Landed 16:04
1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,Landed 14:24
2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,Landed 11:08
3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,Landed 06:55
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,Landed 22:34
...,...,...,...,...,...,...,...,...,...
63215,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,Landed 06:35
63216,22 Jan 2023,Mexico City (MEX),New York (JFK),B762 (XA-EFR),—,08:15,18:37,14:00,Diverted to ORD
63217,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,Landed 18:08
63218,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,Landed 14:34
63219,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,Landed 07:36

In [31]:
#remove empty cells to make sure the data is complete

merged_df = merged_df.dropna()
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS
0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,Landed 16:04
1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,Landed 14:24
2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,Landed 11:08
3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,Landed 06:55
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,Landed 22:34
...,...,...,...,...,...,...,...,...,...
63215,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,Landed 06:35
63216,22 Jan 2023,Mexico City (MEX),New York (JFK),B762 (XA-EFR),—,08:15,18:37,14:00,Diverted to ORD
63217,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,Landed 18:08
63218,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,Landed 14:34
63219,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,Landed 07:36

In [32]:
#Verifying that there are no empty cells that need to be handled

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 201508 entries, 0 to 63219
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         201508 non-null  object
 1   FROM         201508 non-null  object
 2   TO           201508 non-null  object
 3   AIRCRAFT     201508 non-null  object
 4   FLIGHT TIME  201508 non-null  object
 5   STD          201508 non-null  object
 6   ATD          201508 non-null  object
 7   STA          201508 non-null  object
 8   STATUS       201508 non-null  object
dtypes: object(9)
memory usage: 15.4+ MB

In [33]:
#In the below command, we are looking for a non-null cells that contain '-' and delete all those rows because 
#these cells represent a missing data and therefore are like empty cells

mask = merged_df.apply(lambda x: x.str.contains('—')).any(axis=1)
merged_df = merged_df[~mask]
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183360 entries, 0 to 63219
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         183360 non-null  object
 1   FROM         183360 non-null  object
 2   TO           183360 non-null  object
 3   AIRCRAFT     183360 non-null  object
 4   FLIGHT TIME  183360 non-null  object
 5   STD          183360 non-null  object
 6   ATD          183360 non-null  object
 7   STA          183360 non-null  object
 8   STATUS       183360 non-null  object
dtypes: object(9)
memory usage: 14.0+ MB

In [34]:
#This line of code is resetting the indexes because after we deleted the empty cells, there were gaps in the index

merged_df = merged_df.reset_index(drop=True)

In [35]:
#Deleting 'Landed' part from the STATUS column and preparing the data for the visualization step 
#(all columns need to be int/float)

merged_df['STATUS'] = merged_df['STATUS'].str.replace('Landed ', '')
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS
0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,16:04
1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,14:24
2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,11:08
3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,06:55
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,22:34
...,...,...,...,...,...,...,...,...,...
183355,30 Jan 2023,New York (JFK),Chicago (ORD),A306 (XA-UYR),2:13,06:30,09:16,10:28,10:29
183356,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,06:35
183357,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,18:08
183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,14:34
183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,07:36

In [36]:
#In the code below, we are running in a loop on all the cells of 'STATUS' column and we are inserting to 
#a new column called 'DIFFERENCE' the difference bewteen 'STA' (scheduled time of arrival) 
#and 'STATUS' (actual time of arrival) for each line accordingly

difflist = []
for i in range(len(merged_df['STATUS'])):
    if ':' in merged_df['STA'][i] and ':' in merged_df['STATUS'][i]:
        time1 = datetime.strptime(merged_df['STA'][i], '%H:%M')
        time2 = datetime.strptime(merged_df['STATUS'][i], '%H:%M')
        diff = time2-time1
        total_minutes = diff.seconds // 60
        hours, minutes = divmod(total_minutes, 60)
        if diff.days < 0 and hours >= 23:
            diff = timedelta(1) - diff
            total_minutes = diff.seconds // 60
            total_minutes = -total_minutes
        else:
            total_minutes = diff.seconds // 60
        difflist.append(total_minutes)
    else:
            difflist.append(None)



merged_df['DIFFERENCE'] = difflist
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE
0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,16:04,-6.0
1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,14:24,60.0
2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,11:08,51.0
3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,06:55,31.0
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...
183355,30 Jan 2023,New York (JFK),Chicago (ORD),A306 (XA-UYR),2:13,06:30,09:16,10:28,10:29,1.0
183356,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,06:35,995.0
183357,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,18:08,3.0
183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,14:34,-51.0
183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,07:36,1356.0

In [37]:
#Verifying that there are no empty cells that need to be handled

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183360 entries, 0 to 183359
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         183360 non-null  object
 1   FROM         183360 non-null  object
 2   TO           183360 non-null  object
 3   AIRCRAFT     183360 non-null  object
 4   FLIGHT TIME  183360 non-null  object
 5   STD          183360 non-null  object
 6   ATD          183360 non-null  object
 7   STA          183360 non-null  object
 8   STATUS       183360 non-null  object
 9   DIFFERENCE   183067 non-null  float64
dtypes: float64(1), object(9)
memory usage: 14.0+ MB

In [38]:
merged_df.dropna(subset=['DIFFERENCE'], inplace=True)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183067 entries, 0 to 183359
Data columns (total 10 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         183067 non-null  object
 1   FROM         183067 non-null  object
 2   TO           183067 non-null  object
 3   AIRCRAFT     183067 non-null  object
 4   FLIGHT TIME  183067 non-null  object
 5   STD          183067 non-null  object
 6   ATD          183067 non-null  object
 7   STA          183067 non-null  object
 8   STATUS       183067 non-null  object
 9   DIFFERENCE   183067 non-null  float64
dtypes: float64(1), object(9)
memory usage: 15.4+ MB

In [39]:
#In this step we are creating a new list called 'arcrft_reg' which represent the actual aircraft of the flight 
#and we are copying into this list only the string that inside of the brackets 
#in 'AIRCRAFT' column

arcrft_reg = [item.split('(')[-1].strip(')') for item in merged_df['AIRCRAFT']]
arcrft_reg

['N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'GLF4',
 'GLF4',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'B-222J',
 'B-2077',
 'B-223A',
 'B-222J',
 'B-222J',
 'B-222N',
 'B-2077',
 'B-222J',
 'B-2077',
 'B-2077',
 'B-221S',
 'B-2076',
 'B-222J',
 'B-2076',
 'B-2076',
 'B-2077',
 'B-222J',
 'B-222V',
 'B-220E',
 'B-220E',
 'B-220E',
 'B-2082',
 'B-2083',
 'B-222J',
 'B-222J',
 'B-2082',
 'B-2082',
 'B-2083',
 'B-221S',
 'B-221S',
 'B-2076',
 'B-2076',
 'B-2076',
 'B-2076',
 'B-220E',
 'B-220E',
 'B-2082',
 'B-2082',
 'B-2082',
 'B-220F',
 'B-220F',
 'B-222K',
 'B-222K',
 'B-2082',
 'B-2082',
 'B-222K',
 'B-222K',
 'B-220F',
 'B-220F',
 'B-222H',
 'B-220E',
 'B-222V',
 'B-2076',
 'B-2076',
 'B-222H',
 'B-222H',
 'B-222V',
 'B-222V',
 'B-2083',
 'B-2083',
 'B-2083',
 'B-2083',
 'B-2083',
 'B-2083',
 'B-2076',
 'B-2076',
 'B-2077',
 'B-2077',
 'B-222K',
 'B-222K',
 'B-222N',
 'B-222N',
 'B-221W',
 'B-221W',
 'B-222K',
 'B-222K',
 'B-2082',
 'B-2082',
 'B-2077',
 'B-2077',
 'B-222H',
 'B-222H',
 'B-222N',
 'B-222N',
 'B-222K',
 'B-222K',
 'B-2077',
 'B-2077',
 'B-2083',
 'B-2083',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-222N',
 'B-222N',
 'B-222N',
 'B-222N',
 'B-222K',
 'B-222K',
 'B-2076',
 'B-2076',
 'B-220E',
 'B-220E',
 'B-221W',
 'B-221W',
 'B-222J',
 'B-222J',
 'B-222K',
 'B-222K',
 'B-2083',
 'B-2083',
 'B-220F',
 'B-220F',
 'B-222H',
 'B-222H',
 'B-222J',
 'B-222J',
 'B-222N',
 'B-222N',
 'B-220E',
 'B-220E',
 'B-2083',
 'B-2083',
 'B-221W',
 'B-221W',
 'B-2076',
 'B-2076',
 'B-221S',
 'B-221S',
 'B-220E',
 'B-220E',
 'B-2082',
 'B-2082',
 'B-222H',
 'B-222H',
 'B-2083',
 'B-2083',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-220E',
 'B-222H',
 'B-222H',
 'B-2083',
 'B-2083',
 'B-222H',
 'B-222H',
 'B-222K',
 'B-222K',
 'B-222H',
 'B-222H',
 'N251SY',
 'N261SY',
 'N246SY',
 'N241SY',
 'N247SY',
 'N307SY',
 'N614CZ',
 'N307SY',
 'N313SY',
 'N247SY',
 'N310SY',
 'N607CZ',
 'N297SY',
 'N259SY',
 'N603CZ',
 'N311SY',
 'N250SY',
 'N241SY',
 'N604CZ',
 'N313SY',
 'N613CZ',
 'N323SY',
 'N312SY',
 'N306SY',
 'N280SY',
 'N311SY',
 'N625CA',
 'N625CA',
 'N641CA',
 'N641CA',
 'N162PQ',
 'N162PQ',
 'N712EV',
 'N712EV',
 'N607SK',
 'N607SK',
 'N607SK',
 'N607SK',
 'N625CA',
 'N625CA',
 'N641CA',
 'N641CA',
 'N712EV',
 'N712EV',
 'N712EV',
 'N712EV',
 'N609SK',
 'N609SK',
 'N625CA',
 'N625CA',
 'N608SK',
 'N608SK',
 'N712EV',
 'N712EV',
 'N607SK',
 'N607SK',
 'N607SK',
 'N607SK',
 'N608SK',
 'N608SK',
 'N712EV',
 'N712EV',
 'N804SK',
 'N804SK',
 'N641CA',
 'N641CA',
 'N712EV',
 'N712EV',
 'N608SK',
 'N608SK',
 'N625CA',
 'N625CA',
 'N712EV',
 'N712EV',
 'N641CA',
 'N641CA',
 'N608SK',
 'N608SK',
 'N609SK',
 'N609SK',
 'N692CA',
 'N554CA',
 'N806SK',
 'N836SK',
 'N822SK',
 'N609SK',
 'N549CA',
 'N803SK',
 'N840SK',
 'N838SK',
 'N554CA',
 'N689CA',
 'N804SK',
 'N809SK',
 'N170PQ',
 'N805SK',
 'N803SK',
 'N822SK',
 'N162PQ',
 'N816SK',
 'N802SK',
 'N679CA',
 'N170PQ',
 'N554CA',
 'N170PQ',
 'N832SK',
 'N161PQ',
 'N679CA',
 'N187PQ',
 'N689CA',
 'N816SK',
 'N800SK',
 'N689CA',
 'N897SK',
 'N689CA',
 'N897SK',
 'N800SK',
 'N816SK',
 'N816SK',
 'N692CA',
 'N692CA',
 'N161PQ',
 'N839SK',
 'N549CA',
 'N161PQ',
 'N824SK',
 'N187PQ',
 'N161PQ',
 'N187PQ',
 'N549CA',
 'N187PQ',
 'N897SK',
 'N817SK',
 'N689CA',
 'N693CA',
 'N800SK',
 'N809SK',
 'N804SK',
 'N689CA',
 'N839SK',
 'N817SK',
 'N817SK',
 'N187PQ',
 'N802SK',
 'N802SK',
 'N827SK',
 'N827SK',
 'N693CA',
 'N804SK',
 'N824SK',
 'N831SK',
 'N304SY',
 'N830SK',
 'N806SK',
 'N830SK',
 'N689CA',
 'N549CA',
 'N822SK',
 'N803SK',
 'N822SK',
 'N839SK',
 'N897SK',
 'N829SK',
 'N897SK',
 'N822SK',
 'N806SK',
 'N897SK',
 'N804SK',
 'N692CA',
 'N549CA',
 'N817SK',
 'N170PQ',
 'N170PQ',
 'N804SK',
 'N834SK',
 'N442SW',
 'N873AS',
 'N702BR',
 'N506CA',
 'N922EV',
 'N873AS',
 'N498CA',
 'N702BR',
 'N936EV',
 'N922EV',
 'N477CA',
 'N926EV',
 'N506CA',
 'N873AS',
 'N459SW',
 'N921EV',
 'N926EV',
 'N449SW',
 'N506CA',
 'N926EV',
 'N442SW',
 'N641CA',
 'N506CA',
 'N873AS',
 'N926EV',
 'N926EV',
 'N625CA',
 'N461SW',
 'N926EV',
 'N459SW',
 'N873AS',
 'N921EV',
 'N498CA',
 'N442SW',
 'N873AS',
 'N702BR',
 'N926EV',
 'N460SW',
 'N477CA',
 'N702BR',
 'N449SW',
 'N921EV',
 'N926EV',
 'N459SW',
 'N922EV',
 'N461SW',
 'N921EV',
 'N702BR',
 'N498CA',
 'N477CA',
 'N921EV',
 'N878AS',
 'N459SW',
 'N449SW',
 'N460SW',
 'N878AS',
 'N162PQ',
 'N449SW',
 'N921EV',
 'N449SW',
 'N922EV',
 'N926EV',
 'N878AS',
 'N446SW',
 'N873AS',
 'N878AS',
 'N461SW',
 'N874AS',
 'N460SW',
 'N445SW',
 'N461SW',
 'N936EV',
 'N461SW',
 'N445SW',
 'N873AS',
 'N936EV',
 'N446SW',
 'N498CA',
 'N439SW',
 'N922EV',
 'N926EV',
 'N922EV',
 'N461SW',
 'N293SY',
 'N607CZ',
 'N247SY',
 'N258SY',
 'N295SY',
 'N243SY',
 'N247SY',
 'N261SY',
 'N254SY',
 'N242SY',
 'N256SY',
 'N308SY',
 'N305SY',
 'N295SY',
 'N294SY',
 'N254SY',
 'N294SY',
 'N254SY',
 'N295SY',
 'N242SY',
 'N253SY',
 'N303SY',
 'N293SY',
 'N258SY',
 'N252SY',
 'N243SY',
 'N303SY',
 'N259SY',
 'N246SY',
 'N607CZ',
 'N247SY',
 'N276SY',
 'N247SY',
 'N260SY',
 'N307SY',
 'N822SK',
 'N813SK',
 'N293SY',
 'N548CA',
 'N800SK',
 'N898SK',
 'N548CA',
 'N802SK',
 'N802SK',
 'N805SK',
 'N604CZ',
 'N809SK',
 'N897SK',
 'N803SK',
 'N170PQ',
 'N805SK',
 'N823SK',
 'N822SK',
 'N304SY',
 'N689CA',
 'N809SK',
 'N162PQ',
 'N548CA',
 'N830SK',
 'N805SK',
 'N840SK',
 'N840SK',
 'N162PQ',
 'N899SK',
 'N813SK',
 'N242SY',
 'N827NW',
 'N823NW',
 'N831NW',
 'N826NW',
 'N824NW',
 'N830NW',
 'N827NW',
 'N416DX',
 'N826NW',
 'N823NW',
 'N828NW',
 'N827NW',
 'N824NW',
 'N822NW',
 'N825NW',
 'N831NW',
 'N828NW',
 'N826NW',
 'N812NW',
 'N820NW',
 'N825NW',
 'N415DX',
 'N817NW',
 'N831NW',
 'N408DX',
 'N408DX',
 'N824NW',
 'N813NW',
 'N804NW',
 'N803NW',
 'N823NW',
 'N813NW',
 'N830NW',
 'N825NW',
 'N826NW',
 'N824NW',
 'N808NW',
 'N826NW',
 'N822NW',
 'N823NW',
 'N821NW',
 'N407DX',
 'N810NW',
 'N409DX',
 'N420DX',
 'N420DX',
 'N806NW',
 'N812NW',
 'N827NW',
 'N818NW',
 'N815NW',
 'N816NW',
 'N817NW',
 'N802NW',
 'N820NW',
 'N830NW',
 'N821NW',
 'N821NW',
 'N821NW',
 'N827NW',
 'N826NW',
 'N826NW',
 'N810NW',
 'N810NW',
 'N820NW',
 'N825NW',
 'N807NW',
 'N806NW',
 'N811NW',
 'N825NW',
 'N811NW',
 'N806NW',
 'N821NW',
 'N813NW',
 'N801NW',
 'N830NW',
 'N812NW',
 'N825NW',
 'N809NW',
 'N828NW',
 'N809NW',
 'N811NW',
 'N805NW',
 'N822NW',
 'N809NW',
 'N806NW',
 'N825NW',
 'N859NW',
 'N818NW',
 'N414DZ',
 'N825NW',
 'N812NW',
 'N826NW',
 'N825NW',
 'N414DZ',
 'N805NW',
 'N823NW',
 'N822NW',
 'N812NW',
 'N818NW',
 'N824NW',
 'N822NW',
 'N828NW',
 'N823NW',
 'N825NW',
 'N824NW',
 'N818NW',
 'N804NW',
 'N831NW',
 'N831NW',
 'N817NW',
 'N810NW',
 'N805NW',
 'N818NW',
 'N829NW',
 'N821NW',
 'N813NW',
 'N821NW',
 'N830NW',
 'N825NW',
 'N802NW',
 'N823NW',
 'N827NW',
 'N822NW',
 'N801NW',
 'N817NW',
 'N818NW',
 'N803NW',
 'N802NW',
 'N821NW',
 'N814NW',
 'N817NW',
 'N809NW',
 'N830NW',
 'N811NW',
 'N807NW',
 'N830NW',
 'N810NW',
 'N828NW',
 'N821NW',
 'N815NW',
 'N802NW',
 'N803NW',
 'N827NW',
 'N824NW',
 'N814NW',
 'N824NW',
 'N830NW',
 'N817NW',
 'N828NW',
 'N811NW',
 'N829NW',
 'N807NW',
 'N819NW',
 'N419DX',
 'N414DZ',
 'N414DZ',
 'N414DZ',
 'N411DX',
 'N404DX',
 'N417DX',
 'N418DX',
 'N812NW',
 'N830NW',
 'N814NW',
 'N807NW',
 'N808NW',
 'N812NW',
 'N816NW',
 'N815NW',
 'N828NW',
 'N816NW',
 'N829NW',
 'N817NW',
 'N821NW',
 'N821NW',
 'N807NW',
 'N818NW',
 'N804NW',
 'N804NW',
 'N829NW',
 'N818NW',
 'N807NW',
 'N407DX',
 'N853NW',
 'N813NW',
 'N802NW',
 'N827NW',
 'N804NW',
 'N804NW',
 'N809NW',
 'N809NW',
 'N829NW',
 'N829NW',
 'N804NW',
 'N809NW',
 'N807NW',
 'N811NW',
 'N822NW',
 'N802NW',
 'N808NW',
 'N802NW',
 'N817NW',
 'N824NW',
 'N809NW',
 'N824NW',
 'N813NW',
 'N812NW',
 'N807NW',
 'N808NW',
 'N804NW',
 'N817NW',
 'N813NW',
 'N802NW',
 'N805NW',
 'N822NW',
 'N814NW',
 'N813NW',
 'N826NW',
 'N825NW',
 'N807NW',
 'N813NW',
 'N802NW',
 'N814NW',
 'N829NW',
 'N813NW',
 'N824NW',
 'N828NW',
 'N831NW',
 'N411DX',
 'N409DX',
 'N409DX',
 'N807NW',
 'N831NW',
 'N802NW',
 'N830NW',
 'N412DX',
 'N809NW',
 'N802NW',
 'N830NW',
 'N830NW',
 'N403DX',
 'N409DX',
 'N409DX',
 'N409DX',
 'N805NW',
 'N828NW',
 'N821NW',
 'N809NW',
 'N806NW',
 'N822NW',
 'N823NW',
 'N804NW',
 'N826NW',
 'N830NW',
 'N805NW',
 'N805NW',
 'N812NW',
 'N830NW',
 'N807NW',
 'N824NW',
 'N825NW',
 'N828NW',
 'N830NW',
 'N822NW',
 'N808NW',
 'N826NW',
 'N826NW',
 'N831NW',
 'N814NW',
 'N828NW',
 'N814NW',
 'N802NW',
 'N807NW',
 'N823NW',
 'N860NW',
 'N861NW',
 'N861NW',
 'N859NW',
 'N854NW',
 'N854NW',
 'N854NW',
 'N854NW',
 'N854NW',
 'N854NW',
 'N857NW',
 'N855NW',
 'N855NW',
 'N852NW',
 'N854NW',
 'N854NW',
 'N858NW',
 'N859NW',
 'N861NW',
 'N858NW',
 'N858NW',
 'N405DX',
 'N411DX',
 'N404DX',
 'N410DZ',
 'N417DX',
 'N405DX',
 'N412DX',
 'N402DX',
 'N406DX',
 'N404DX',
 'N405DX',
 'N402DX',
 'N409DX',
 'N418DX',
 'N401DZ',
 'N416DX',
 'N403DX',
 'N411DX',
 'N409DX',
 'N408DX',
 'N411DX',
 'N403DX',
 'N410DZ',
 'N405DX',
 'N805NW',
 'N812NW',
 'N809NW',
 'N828NW',
 'N827NW',
 'N825NW',
 'N813NW',
 'N807NW',
 'N828NW',
 'N828NW',
 'N410DZ',
 'N828MH',
 'N827MH',
 'N838MH',
 'N843MH',
 'N844MH',
 'N844MH',
 'N843MH',
 'N827MH',
 'N835MH',
 'N835MH',
 'N837MH',
 'N833MH',
 'N807NW',
 'N829NW',
 'N806NW',
 'N809NW',
 'N813NW',
 'N405DX',
 'N824NW',
 'N406DX',
 'N802NW',
 'N807NW',
 'N416DX',
 'N828NW',
 'N412DX',
 'N805NW',
 'N409DX',
 'N826NW',
 'N809NW',
 'N410DZ',
 'N824NW',
 'N907XJ',
 'N907XJ',
 'N186PQ',
 'N186PQ',
 'N605LR',
 'N605LR',
 'N313PQ',
 'N313PQ',
 'N924XJ',
 'N924XJ',
 'N349PQ',
 'N349PQ',
 'N303PQ',
 'N303PQ',
 'N181PQ',
 'N181PQ',
 ...]

<h4> Saving to a DataFrame </h4>

In [40]:
df_arcrft_reg = pd.DataFrame(arcrft_reg)
df_arcrft_reg

             0
0       N455MB
1       N455MB
2       N455MB
3       N455MB
4       N455MB
...        ...
183062  XA-UYR
183063  XA-UYR
183064  XA-LRC
183065  XA-LRC
183066  XA-LRC

[183067 rows x 1 columns]

<h4> Removing duplicates in order to leave only unique values in the list </h4>

In [41]:
df_arcrft_reg = df_arcrft_reg.drop_duplicates()
df_arcrft_reg

             0
0       N455MB
132       GLF4
139     B-222J
140     B-2077
141     B-223A
...        ...
182896  OE-IFB
183019  XA-LRC
183023  XA-GGL
183031  XA-EFR
183041  XA-UYR

[4923 rows x 1 columns]

<h5> Saving to a csv file </h5>

In [14]:
df_arcrft_reg.to_csv("aircraft_reg_raw.csv")

<h4> after we saved the file in the line above, we worked on it in the Arrivals scraping Notebook. in the below line of code we are reading from the  updated csv to a dataframe and we are cleaning all the none-null cells than containg "-" in them, because they are like empty cells </h4>

In [42]:
df_arcrft_age = pd.read_csv("aircraft_reg_new.csv")

In [43]:
df_arcrft_age = df_arcrft_age.replace("-", np.nan)

In [44]:
df_arcrft_age = df_arcrft_age.dropna()

In [45]:
df_arcrft_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4876 entries, 0 to 4879
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   FLIGHT REG  4876 non-null   object
 1   AGE         4876 non-null   object
dtypes: object(2)
memory usage: 114.3+ KB

In [46]:
#In the below step we are looking for 'Brand New' airplanes and changing their value to 0 so all 
#the value would be numerical, in addition, we are deleting from each cell of 'AGE' the 'years' word 
#from the string in order to convert this column to int

df_arcrft_age.replace('Brand new', 0, inplace=True)
df_arcrft_age['AGE'] = df_arcrft_age['AGE'].apply(lambda x: str(x).replace(' year', '') if isinstance(x, str) else x)
df_arcrft_age

     FLIGHT REG  AGE
0        N455MB  19s
1        B-222J    0
2        B-2077  13s
3        B-223A    0
4        B-222N    0
...         ...  ...
4875     OE-IFB  19s
4876     XA-LRC  36s
4877     XA-GGL  31s
4878     XA-EFR  35s
4879     XA-UYR  30s

[4876 rows x 2 columns]

<b> In the following 3 blocks of code we are doing the follwing: <br> 1. creating a new column called 'AGE'. <br> 2. extracting the string of the aircraft inside the brackets in the AIRCRAFT column. <br> 3. for each row, we are looking in the - df_arcrft_age for the actual age and copying it to the 'AGE' column in the merged DataFrame </b>

In [47]:
merged_df['AGE'] = pd.Series([])
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE
0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,16:04,-6.0,NaN
1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,14:24,60.0,NaN
2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,11:08,51.0,NaN
3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,06:55,31.0,NaN
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,22:34,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
183355,30 Jan 2023,New York (JFK),Chicago (ORD),A306 (XA-UYR),2:13,06:30,09:16,10:28,10:29,1.0,NaN
183356,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,06:35,995.0,NaN
183357,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,18:08,3.0,NaN
183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,14:34,-51.0,NaN
183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,07:36,1356.0,NaN

In [48]:
#In the below code we are creating a new column calles MODEL

merged_df['MODEL'] = pd.Series([])
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,MODEL
0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,16:04,-6.0,NaN,NaN
1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,14:24,60.0,NaN,NaN
2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,11:08,51.0,NaN,NaN
3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,06:55,31.0,NaN,NaN
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,22:34,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
183355,30 Jan 2023,New York (JFK),Chicago (ORD),A306 (XA-UYR),2:13,06:30,09:16,10:28,10:29,1.0,NaN,NaN
183356,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,06:35,995.0,NaN,NaN
183357,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,18:08,3.0,NaN,NaN
183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,14:34,-51.0,NaN,NaN
183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,07:36,1356.0,NaN,NaN

In [49]:
#in this code we are splitting the string until the first space, which represents the airplane model and pasting 
#it in the MODEL column, ann then we delete the brackets from the string inside it.

merged_df['MODEL'] = merged_df['AIRCRAFT'].str.split().str[0]
merged_df['AIRCRAFT'] = [item.split('(')[-1].strip(')') for item in merged_df['AIRCRAFT']]
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,MODEL
0,05 May 2023,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,NaN,GLF4
1,05 May 2023,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,NaN,GLF4
2,03 May 2023,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,NaN,GLF4
3,03 May 2023,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,NaN,GLF4
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,NaN,GLF4
...,...,...,...,...,...,...,...,...,...,...,...,...
183355,30 Jan 2023,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,NaN,A306
183356,29 Jan 2023,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,NaN,A306
183357,19 Jan 2023,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,NaN,B762
183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,NaN,B762
183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,NaN,B762

In [30]:
#Here we are filling 'AGE' column 

for index, row in merged_df.iterrows():
    aircraft = row['AIRCRAFT']
    df_filtered = df_arcrft_age.loc[df_arcrft_age['FLIGHT REG'] == aircraft, 'AGE']
    if not df_filtered.empty:
        age = df_filtered.iloc[0]
        merged_df.at[index, 'AGE'] = age
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,MODEL
0,05 May 2023,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,19s,GLF4
1,05 May 2023,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,19s,GLF4
2,03 May 2023,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,19s,GLF4
3,03 May 2023,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,19s,GLF4
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,19s,GLF4
...,...,...,...,...,...,...,...,...,...,...,...,...
183355,30 Jan 2023,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,30s,A306
183356,29 Jan 2023,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,30s,A306
183357,19 Jan 2023,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,36s,B762
183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,36s,B762
183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,36s,B762

In [32]:
#Deleting the 's' from each cell in AGE column, because we want this column to be int

merged_df['AGE'] = merged_df['AGE'].str.replace('s', '')
merged_df
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183067 entries, 0 to 183359
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         183067 non-null  object
 1   FROM         183067 non-null  object
 2   TO           183067 non-null  object
 3   AIRCRAFT     183067 non-null  object
 4   FLIGHT TIME  183067 non-null  object
 5   STD          183067 non-null  object
 6   ATD          183067 non-null  object
 7   STA          183067 non-null  object
 8   STATUS       183067 non-null  object
 9   DIFFERENCE   183067 non-null  float64
 10  AGE          179527 non-null  object
 11  MODEL        183067 non-null  object
dtypes: float64(1), object(11)
memory usage: 22.2+ MB

In [33]:
#checking for empty cells that need to be clean

merged_df.dropna(subset=['AGE'], inplace=True)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179527 entries, 0 to 183359
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         179527 non-null  object
 1   FROM         179527 non-null  object
 2   TO           179527 non-null  object
 3   AIRCRAFT     179527 non-null  object
 4   FLIGHT TIME  179527 non-null  object
 5   STD          179527 non-null  object
 6   ATD          179527 non-null  object
 7   STA          179527 non-null  object
 8   STATUS       179527 non-null  object
 9   DIFFERENCE   179527 non-null  float64
 10  AGE          179527 non-null  object
 11  MODEL        179527 non-null  object
dtypes: float64(1), object(11)
memory usage: 17.8+ MB

In [35]:
#Here we are creating 3 new columns called 'DAY', 'MONTH', 'YEAR' and we split the DATE column string into 3 int cells.
#the first two digits until the '-' are copied to DAY column, the two next digits until the second '-' are copied to MONTH column, 
#and the last four digits are copied to 'YEAR' column.

merged_df['DATE'] = pd.to_datetime(merged_df['DATE'])
merged_df['DAY'] = merged_df['DATE'].dt.day
merged_df['MONTH'] = merged_df['DATE'].dt.month
merged_df['YEAR'] = merged_df['DATE'].dt.year
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,MODEL,DAY,MONTH,YEAR
0,2023-05-05,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,19,GLF4,5,5,2023
1,2023-05-05,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,19,GLF4,5,5,2023
2,2023-05-03,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,19,GLF4,3,5,2023
3,2023-05-03,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,19,GLF4,3,5,2023
4,2023-04-30,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,19,GLF4,30,4,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183355,2023-01-30,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,30,A306,30,1,2023
183356,2023-01-29,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,30,A306,29,1,2023
183357,2023-01-19,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,36,B762,19,1,2023
183358,2023-01-19,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,36,B762,19,1,2023
183359,2023-01-19,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,36,B762,19,1,2023

In [36]:
#Here we are creating a new column called 'DAY OF WEEK' and we are using dt.day_name in order to determine the day of week
#for this date

merged_df['DAY OF WEEK'] = merged_df['DATE'].dt.day_name()
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,MODEL,DAY,MONTH,YEAR,DAY OF WEEK
0,2023-05-05,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,19,GLF4,5,5,2023,Friday
1,2023-05-05,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,19,GLF4,5,5,2023,Friday
2,2023-05-03,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,19,GLF4,3,5,2023,Wednesday
3,2023-05-03,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,19,GLF4,3,5,2023,Wednesday
4,2023-04-30,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,19,GLF4,30,4,2023,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183355,2023-01-30,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,30,A306,30,1,2023,Monday
183356,2023-01-29,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,30,A306,29,1,2023,Sunday
183357,2023-01-19,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,36,B762,19,1,2023,Thursday
183358,2023-01-19,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,36,B762,19,1,2023,Thursday
183359,2023-01-19,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,36,B762,19,1,2023,Thursday

In [37]:
#Lookinmg for empty cells

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 179527 entries, 0 to 183359
Data columns (total 16 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         179527 non-null  datetime64[ns]
 1   FROM         179527 non-null  object
 2   TO           179527 non-null  object
 3   AIRCRAFT     179527 non-null  object
 4   FLIGHT TIME  179527 non-null  object
 5   STD          179527 non-null  object
 6   ATD          179527 non-null  object
 7   STA          179527 non-null  object
 8   STATUS       179527 non-null  object
 9   DIFFERENCE   179527 non-null  float64
 10  AGE          179527 non-null  object
 11  MODEL        179527 non-null  object
 12  DAY          179527 non-null  int64
 13  MONTH        179527 non-null  int64
 14  YEAR         179527 non-null  int64
 15  DAY OF WEEK  179527 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(11)
memory usage: 23.3+ MB

In [38]:
#Here we delete the DATE column, because it is not necessary anymore

merged_df = merged_df.drop('DATE', axis=1)
merged_df

,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,MODEL,DAY,MONTH,YEAR,DAY OF WEEK
0,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,19,GLF4,5,5,2023,Friday
1,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,19,GLF4,5,5,2023,Friday
2,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,19,GLF4,3,5,2023,Wednesday
3,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,19,GLF4,3,5,2023,Wednesday
4,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,19,GLF4,30,4,2023,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183355,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,30,A306,30,1,2023,Monday
183356,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,30,A306,29,1,2023,Sunday
183357,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,36,B762,19,1,2023,Thursday
183358,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,36,B762,19,1,2023,Thursday
183359,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,36,B762,19,1,2023,Thursday

In [40]:
#Here we reorganize our columns, in order to make it look more organized

new_order = ['DAY', 'MONTH', 'YEAR', 'DAY OF WEEK', 'FROM', 'TO', 'AIRCRAFT','MODEL', 'AGE', 'FLIGHT TIME', 'STD', 'ATD', 'STA', 'STATUS', 'DIFFERENCE']
merged_df = merged_df.reindex(columns=new_order)
merged_df = merged_df.rename(columns={'STATUS': 'ATA'})
merged_df

,DAY,MONTH,YEAR,DAY OF WEEK,FROM,TO,AIRCRAFT,MODEL,AGE,FLIGHT TIME,STD,ATD,STA,ATA,DIFFERENCE
0,5,5,2023,Friday,New York (JFK),Teterboro (TEB),N455MB,GLF4,19,0:31,14:45,15:33,16:10,16:04,-6.0
1,5,5,2023,Friday,Bermuda (BDA),New York (JFK),N455MB,GLF4,19,2:01,12:30,13:23,13:24,14:24,60.0
2,3,5,2023,Wednesday,White Plains (HPN),Bermuda (BDA),N455MB,GLF4,19,1:44,07:30,08:24,10:17,11:08,51.0
3,3,5,2023,Wednesday,Teterboro (TEB),White Plains (HPN),N455MB,GLF4,19,0:22,06:00,06:33,06:24,06:55,31.0
4,30,4,2023,Sunday,Van Nuys (VNY),Teterboro (TEB),N455MB,GLF4,19,4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183355,30,1,2023,Monday,New York (JFK),Chicago (ORD),XA-UYR,A306,30,2:13,06:30,09:16,10:28,10:29,1.0
183356,29,1,2023,Sunday,Mexico City (MEX),New York (JFK),XA-UYR,A306,30,3:51,08:15,01:44,14:00,06:35,995.0
183357,19,1,2023,Thursday,New York (JFK),Chicago (ORD),XA-LRC,B762,36,2:04,16:55,17:04,18:05,18:08,3.0
183358,19,1,2023,Thursday,Guatemala City (GUA),New York (JFK),XA-LRC,B762,36,4:13,10:30,09:21,15:25,14:34,-51.0
183359,19,1,2023,Thursday,Mexico City (MEX),Guatemala City (GUA),XA-LRC,B762,36,1:25,07:00,06:11,09:00,07:36,1356.0

We need to analyze the dataframe we've scraped. Let's get familliar with what are the columns we built:<br>
<ul>
    <li><b>Day</b> - Specifies the day of the month of the flight.</li>
    <li><b>Month</b> - Specifies the month of the flight.</li>
    <li><b>Year</b> - Specifies the year of the flight.</li>
    <li><b>Day Of Week</b> - Specifies the day of week of the flight.</li>
    <li><b>From</b> - Specifies the origin of the flight.</li>
    <li><b>To</b> - Specifies the destination of the flight.</li>
    <li><b>Aircraft</b> - Specifies the specific registration of the airplane of the flight.</li>
    <li><b>Model</b> - Specifies the model of the airplane.</li>
    <li><b>Age</b> - Specifies the age of the registrated airplane.</li>
    <li><b>Flight Time</b> - Specifies the total time passed since the aircraft started departure until landing.</li>
    <li><b>STD</b> - Stands for 'Scheduled Time for Departure', Specifies the scheduled time of departure.</li>
    <li><b>ATD</b> - Stands for 'Actual Time of Departure', Specifies the actual time of departure.</li>
    <li><b>STA</b> - Stands for 'Scheduled Time of Arrival', Specifies the scheduled time of arrival.</li>
    <li><b>ATA</b> - Stands for 'Actual Time of Arrival', Specifies the actual time of arrival.</li>
    <li><b>Difference</b> - Specifies the delta between STA and ATA, the delta can be negative (meaning the flight arrived before STA) and can be positive (meaning the flight arrivd after the STA).</li>

</ul>

In [49]:
#weekday - Every weekday will be replaced with it's appropriate number depending on its position within the week:

weekdays_rep_map = {"Sunday" : 1, "Monday" : 2, "Tuesday" : 3, "Wednesday" : 4, "Thursday" : 5, "Friday" : 6, "Saturday" : 7}
merged_df["DAY OF WEEK"].replace(weekdays_rep_map, inplace=True)
merged_df.head()

,DAY,MONTH,YEAR,DAY OF WEEK,FROM,TO,AIRCRAFT,MODEL,AGE,FLIGHT TIME,STD,ATD,STA,ATA,DIFFERENCE
0,5,5,2023,6,New York (JFK),Teterboro (TEB),N455MB,GLF4,19,0:31,14:45,15:33,16:10,16:04,-6.0
1,5,5,2023,6,Bermuda (BDA),New York (JFK),N455MB,GLF4,19,2:01,12:30,13:23,13:24,14:24,60.0
2,3,5,2023,4,White Plains (HPN),Bermuda (BDA),N455MB,GLF4,19,1:44,07:30,08:24,10:17,11:08,51.0
3,3,5,2023,4,Teterboro (TEB),White Plains (HPN),N455MB,GLF4,19,0:22,06:00,06:33,06:24,06:55,31.0
4,30,4,2023,1,Van Nuys (VNY),Teterboro (TEB),N455MB,GLF4,19,4:48,14:45,14:45,22:34,22:34,0.0

In [50]:
#Here we create a new list that contains all of the airports in the merged dataframe, this list contains airports from 
#two columns

airport_list = []

for index, row in merged_df.iterrows():
    airport_list.append(row['FROM'])
    airport_list.append(row['TO'])

airport_list = list(set(airport_list))

In [45]:
#Here we create a dictionary for the airports, so each airport has its unique number, we are doing it to convert 
#the columns to int

airport_dict={}
for i in range(len(airport_list)):
    airport_dict[airport_list[i]] = i
airport_dict

{'Miami (OPF)': 0,
 'New York (EWR)': 1,
 'Bridgetown (BGI)': 2,
 'La Crosse (LSE)': 3,
 'Duluth (DLH)': 4,
 'Cali (CLO)': 5,
 'State College (SCE)': 6,
 'Spencer (SPW)': 7,
 'Abu Dhabi (AUH)': 8,
 'Tokyo (HND)': 9,
 'Greenville-Spartanburg (GSP)': 10,
 'Casablanca (CMN)': 11,
 'Port-au-Prince (PAP)': 12,
 'Traverse City (TVC)': 13,
 'Denver (BJC)': 14,
 'Frankfurt (FRA)': 15,
 'Auckland (AKL)': 16,
 'Waterloo (YKF)': 17,
 'Teterboro (TEB)': 18,
 'Georgetown (GEO)': 19,
 'Knoxville (TYS)': 20,
 'Long Beach (LGB)': 21,
 'Kissimmee (ISM)': 22,
 'Montreal (YUL)': 23,
 'Edinburgh (EDI)': 24,
 'Medellin (MDE)': 25,
 'Sydney (YQY)': 26,
 'Portland (PDX)': 27,
 'Birmingham (BHM)': 28,
 'Columbus (CMH)': 29,
 'Columbia (CAE)': 30,
 'Leesburg (LEE)': 31,
 'Albany (ALB)': 32,
 'Tokyo (NRT)': 33,
 'Puerto Vallarta (PVR)': 34,
 'Appleton (ATW)': 35,
 'Amsterdam (AMS)': 36,
 'Willemstad (CUR)': 37,
 'Phoenix (AZA)': 38,
 'Panama City (ECP)': 39,
 'Louisville (LOU)': 40,
 'Dayton (DAY)': 41,
 'Topeka (TOP)': 42,
 'Kelowna (YLW)': 43,
 'Washington (DCA)': 44,
 'Hickory (HKY)': 45,
 'Berlin (BER)': 46,
 'Stuart (SUA)': 47,
 'Kingston (YGK)': 48,
 'Fargo (FAR)': 49,
 'Brunswick (BQK)': 50,
 'Kansas City (MCI)': 51,
 'Watertown (ART)': 52,
 'Wilmington (ILM)': 53,
 'Little Rock (LIT)': 54,
 'Moline (MLI)': 55,
 'New York (JFK)': 56,
 'Golden Triangle (GTR)': 57,
 'Asheville (AVL)': 58,
 'Ann Arbor (ARB)': 59,
 'Usak (USQ)': 60,
 'Ottawa (YOW)': 61,
 'Cancun (CUN)': 62,
 'Hagerstown (HGR)': 63,
 'Comox (YQQ)': 64,
 "St. John's (YYT)": 65,
 'Edmonton (YEG)': 66,
 'Lansing (LAN)': 67,
 'Chicago (PWK)': 68,
 'Andersen (UAM)': 69,
 'Indianapolis (QQQ)': 70,
 'Rifle (RIL)': 71,
 'Ontario (ONT)': 72,
 'Ponta Delgada (PDL)': 73,
 'Palm Springs (PSP)': 74,
 'Nice (NCE)': 75,
 'Fort Wayne (FWA)': 76,
 'Vancouver (YVR)': 77,
 'Lagos (LOS)': 78,
 'George Town (GCM)': 79,
 'Charleston (JZI)': 80,
 'Samsun (SZF)': 81,
 'Sacramento (MCC)': 82,
 'Miami (TMB)': 83,
 'Hayden (HDN)': 84,
 'St. Thomas (STT)': 85,
 'Camarillo (QTC)': 86,
 'Wilmington (ILG)': 87,
 'Cologne (CGN)': 88,
 'Havana (HAV)': 89,
 'Montgomery (MGM)': 90,
 'Chicago (RFD)': 91,
 'Victoria (YYJ)': 92,
 'Santiago (SCL)': 93,
 'Lebanon (LEB)': 94,
 'Morelia (MLM)': 95,
 'Chennai (MAA)': 96,
 'Burlington (BTV)': 97,
 'Miami (MIA)': 98,
 'Papeete (PPT)': 99,
 'Rochester (ROC)': 100,
 'Jackson (JAN)': 101,
 'Everett (PAE)': 102,
 'Princeton (PCT)': 103,
 'New York (SWF)': 104,
 'Bozeman (BZN)': 105,
 'Sacramento (SMF)': 106,
 'New York (LGA)': 107,
 'Vieux Fort (UVF)': 108,
 'Bangor (BGR)': 109,
 'Truckee (TKF)': 110,
 'London (YXU)': 111,
 'Copenhagen (CPH)': 112,
 'Anchorage (ANC)': 113,
 'Atlantic City (BLM)': 114,
 'Fort Lauderdale (FLL)': 115,
 'Tucson (TUS)': 116,
 'Campbell River (YBL)': 117,
 'Denver (DEN)': 118,
 'Cranbrook (YXC)': 119,
 'Palm Springs (UDD)': 120,
 'New Braunfels (QQZ)': 121,
 'Edson (YET)': 122,
 'Singapore (SIN)': 123,
 'New Haven (HVN)': 124,
 'Wichita (ICT)': 125,
 'Maastricht (MST)': 126,
 'Tacoma (TIW)': 127,
 'Key West (EYW)': 128,
 'Charlotte (CLT)': 129,
 'Vienna (VIE)': 130,
 'Tbilisi (TBS)': 131,
 'Oklahoma City (OKC)': 132,
 'Calgary (YYC)': 133,
 'Munich (MUC)': 134,
 'Regina (YQR)': 135,
 'Dothan (DHN)': 136,
 'Santa Barbara (SBA)': 137,
 'La Sarre (SSQ)': 138,
 'Worcester (ORH)': 139,
 'Muskoka (YQA)': 140,
 'Gulfport (GPT)': 141,
 'Indianapolis (IND)': 142,
 'Bloomington (BMI)': 143,
 'Quito (UIO)': 144,
 'Smyrna (MQY)': 145,
 'Delhi (DEL)': 146,
 'Seoul (ICN)': 147,
 'Baton Rouge (BTR)': 148,
 'Reykjavik (KEF)': 149,
 'Merida (MID)': 150,
 'Great Barrington (GBR)': 151,
 'Nottingham (EMA)': 152,
 'Atlanta (ATL)': 153,
 'Houston (IAH)': 154,
 'Hilton Head Island (HHH)': 155,
 'Reno (RNO)': 156,
 'Beijing (PEK)': 157,
 'Providence (PVD)': 158,
 'Memphis (MEM)': 159,
 'Wilmington (ILN)': 160,
 'West Palm Beach (LNA)': 161,
 'Beef Island (EIS)': 162,
 'St. Petersburg (PIE)': 163,
 'Farmingdale (FRG)': 164,
 'Austin (EDC)': 165,
 'New Smyrna Beach (QQB)': 166,
 'Las Vegas (LAS)': 167,
 'Omaha (OMA)': 168,
 'Des Moines (DSM)': 169,
 'Rockland (RKD)': 170,
 'Marsh Harbour (MHH)': 171,
 'Mountain View (NUQ)': 172,
 'Nashville (QQN)': 173,
 'Hailey (SUN)': 174,
 'McAllen (MFE)': 175,
 'Erbil (EBL)': 176,
 'Saranac Lake (SLK)': 177,
 'Dusseldorf (DUS)': 178,
 'Napa (APC)': 179,
 'Sugar Land (SGR)': 180,
 'Morganton (MRN)': 181,
 'St. Croix (STX)': 182,
 'Red Deer (YQF)': 183,
 'Kenora (YQK)': 184,
 'South Bend (SBN)': 185,
 'Cleveland (CLE)': 186,
 'Tampa (TPA)': 187,
 'Bentonville (XNA)': 188,
 'Zaragoza (ZAZ)': 189,
 'Billings (BIL)': 190,
 'Dallas (ADS)': 191,
 'Guayaquil (GYE)': 192,
 'Quebec (YQB)': 193,
 'Mumbai (BOM)': 194,
 'Nantucket (ACK)': 195,
 'Boca Raton (BCT)': 196,
 'Kalamazoo (AZO)': 197,
 'Mobile (MOB)': 198,
 'Grand Forks (GFK)': 199,
 'Masset (ZMT)': 200,
 'London (LGW)': 201,
 'Gainesville (GVL)': 202,
 'Greenville (PGV)': 203,
 'San Francisco (SFO)': 204,
 'Santo Domingo (SDQ)': 205,
 'Jeddah (JED)': 206,
 'Hong Kong (HKG)': 207,
 'Milan (MXP)': 208,
 'Cairo (CAI)': 209,
 'North Eleuthera (ELH)': 210,
 'Roanoke (ROA)': 211,
 'Nanaimo (YCD)': 212,
 'Doha (DOH)': 213,
 'Windsor (YQG)': 214,
 'Las Vegas (HSH)': 215,
 'Manteo (MEO)': 216,
 'Orlando (ORL)': 217,
 'Wiarton (YVV)': 218,
 'London (LHR)': 219,
 'Mexico City (MEX)': 220,
 'Frankfurt (HHN)': 221,
 'Reichelsheim (QER)': 222,
 'Chicago (ORD)': 223,
 'Bountiful (BTF)': 224,
 'Sudbury (YSB)': 225,
 'Abbotsford (YXX)': 226,
 'Deadhorse (SCC)': 227,
 'Naples (APF)': 228,
 'Kahului (OGG)': 229,
 'Port Hawkesbury (YPS)': 230,
 'Guangzhou (CAN)': 231,
 'Phoenix (PHX)': 232,
 'Taipei (TPE)': 233,
 'Cozumel (CZM)': 234,
 'Thunder Bay (YQT)': 235,
 'San Salvador (SAL)': 236,
 'Antigua (ANU)': 237,
 'George Town (GGT)': 238,
 'Mombasa (MBA)': 239,
 'Charlo (YCL)': 240,
 'Newport (NPT)': 241,
 'Houston (HOU)': 242,
 'Prince Rupert (YPR)': 243,
 'Savannah (SAV)': 244,
 'Rochester (RST)': 245,
 'San Jose (SJC)': 246,
 'Ocean Reef (OCA)': 247,
 'Zurich (ZRH)': 248,
 'Liege (LGG)': 249,
 'Austin (AUS)': 250,
 'Montego Bay (MBJ)': 251,
 'Fort McMurray (YMM)': 252,
 'The Pas (YQD)': 253,
 'Nashville (BNA)': 254,
 'Accra (ACC)': 255,
 'Buenos Aires (EZE)': 256,
 'Dallas (DAL)': 257,
 'Saginaw (MBS)': 258,
 'Barcelona (BCN)': 259,
 'Detroit (DTW)': 260,
 'New Orleans (MSY)': 261,
 'Provincetown (PVC)': 262,
 'Grand Junction (GJT)': 263,
 'Manchester (MAN)': 264,
 'Montreal (YHU)': 265,
 'West Palm Beach (PBI)': 266,
 'Los Angeles (LAX)': 267,
 'La Ronge (YVC)': 268,
 'Charlottesville (CHO)': 269,
 'Augusta (DNL)': 270,
 'Ithaca (ITH)': 271,
 'Cartagena (CTG)': 272,
 'Idaho Falls (IDA)': 273,
 'Beaufort (BFT)': 274,
 'Oakland (OAK)': 275,
 'Lome (LFW)': 276,
 'Greenwood (GRD)': 277,
 'Detroit (YIP)': 278,
 'San Jose del Cabo (SJD)': 279,
 'Helsinki (HEL)': 280,
 'Green Bay (GRB)': 281,
 'Kalispell (FCA)': 282,
 'Denver (APA)': 283,
 'Kamloops (YKA)': 284,
 'Monterrey (MTY)': 285,
 'Westerly (WST)': 286,
 'Madison (MSN)': 287,
 'Sarasota (SRQ)': 288,
 'Salisbury (SBY)': 289,
 'Chattanooga (CHA)': 290,
 'Hamilton (YHM)': 291,
 'Baltimore (BWI)': 292,
 'Fort Lauderdale (FXE)': 293,
 'Provo (PVU)': 294,
 'Hyannis (HYA)': 295,
 'Casper (CPR)': 296,
 'Chicago (MDW)': 297,
 'Seattle (SEA)': 298,
 'Manchester (MHT)': 299,
 'New Bedford (EWB)': 300,
 'North Bay (YYB)': 301,
 'Ponce (PSE)': 302,
 'Nassau (NAS)': 303,
 'Eugene (EUG)': 304,
 'Fairbanks (EIL)': 305,
 'Windsor Locks (BDL)': 306,
 'Kuwait City (KWI)': 307,
 'Bartow (BOW)': 308,
 'Burbank (BUR)': 309,
 'Santiago de los Caballeros (STI)': 310,
 'Parry Sound (YPD)': 311,
 'Funchal (FNC)': 312,
 'Timmins (YTS)': 313,
 'Jackson (JXN)': 314,
 'Augusta (AGS)': 315,
 'Van Nuys (VNY)': 316,
 'Telluride (TEX)': 317,
 'Nagoya (NGO)': 318,
 'Shannon (SNN)': 319,
 'Shanghai (PVG)': 320,
 'Springfield (SGF)': 321,
 'Colorado Springs (COS)': 322,
 'Brussels (BRU)': 323,
 'Avarua (RAR)': 324,
 'Raleigh-Durham (RDU)': 325,
 'Cabo San Lucas (CSL)': 326,
 'San Andros (SAQ)': 327,
 'San Marcos (HYI)': 328,
 'Thermal (TRM)': 329,
 'Milwaukee (MKE)': 330,
 "Martha's Vineyard (MVY)": 331,
 'Gander (YQX)': 332,
 'Luxembourg (LUX)': 333,
 'Liberia (LIR)': 334,
 'Cheongju (CJJ)': 335,
 'Providenciales (PLS)': 336,
 'Fort Pierce (FPR)': 337,
 'Fort Worth (AFW)': 338,
 'Norwood (OWD)': 339,
 'Oslo (OSL)': 340,
 'Amman (AMM)': 341,
 'Cincinnati (LUK)': 342,
 'Lubbock (LBB)': 343,
 'El Paso (ELP)': 344,
 'Philadelphia (PHL)': 345,
 'Riga (RIX)': 346,
 'Sault Ste. Marie (YAM)': 347,
 'Santa Rosa (STS)': 348,
 'Albuquerque (ABQ)': 349,
 'Richmond (RIC)': 350,
 'Geneva (GVA)': 351,
 'Allentown (ABE)': 352,
 'Moncton (YQM)': 353,
 'Sint Maarten (SXM)': 354,
 'Evansville (EVV)': 355,
 'Boise (BOI)': 356,
 'Orlando (MCO)': 357,
 'Warsaw (WAW)': 358,
 'Dubai (DXB)': 359,
 'Fort MacKay (HZP)': 360,
 'Morristown (MMU)': 361,
 'Marco Island (MRK)': 362,
 'Nadi (NAN)': 363,
 'Bar Harbor (BHB)': 364,
 'Sao Paulo (GRU)': 365,
 'Spokane (GEG)': 366,
 'Minneapolis (MSP)': 367,
 'Roswell (ROW)': 368,
 'Wausau (CWA)': 369,
 'Johannesburg (JNB)': 370,
 'Salina (SLN)': 371,
 'Taiyuan (TYN)': 372,
 'Venice (VCE)': 373,
 'Okeechobee (OBE)': 374,
 'Winnipeg (YWG)': 375,
 'White Plains (HPN)': 376,
 'Lexington (LEX)': 377,
 'Daytona Beach (DAB)': 378,
 'Guatemala City (GUA)': 379,
 'Manila (MNL)': 380,
 'Dakar (DSS)': 381,
 'Lafayette (LAF)': 382,
 'Fredericton (YFC)': 383,
 'Eskisehir (AOE)': 384,
 'Dublin (DUB)': 385,
 'Bermuda (BDA)': 386,
 'Monterey (MRY)': 387,
 'Puerto Plata (POP)': 388,
 'London (STN)': 389,
 'Bedford (BED)': 390,
 'Kingston (KIN)': 391,
 'Poznan (POZ)': 392,
 'Buffalo (BUF)': 393,
 'Treasure Cay (TCB)': 394,
 'Bakersfield (BFL)': 395,
 'Atlanta (PDK)': 396,
 'Entebbe (EBB)': 397,
 'San Bernardino (SBD)': 398,
 'Westhampton Beach (FOK)': 399,
 'Addis Ababa (ADD)': 400,
 'Aspen (ASE)': 401,
 'Eagle (EGE)': 402,
 'Athens (ATH)': 403,
 'Shreveport (SHV)': 404,
 'Santa Ana (SNA)': 405,
 'San Diego (SAN)': 406,
 'Avoca (AVP)': 407,
 'Leipzig (LEJ)': 408,
 'Gainesville (GNV)': 409,
 'Jackson (JAC)': 410,
 'Tel Aviv (TLV)': 411,
 'Dallas (DFW)': 412,
 'Rapid City (RAP)': 413,
 'Guadalajara (GDL)': 414,
 'Greensboro (GSO)': 415,
 'Alexandria (AEX)': 416,
 'Seattle (BFI)': 417,
 'Sioux Falls (FSD)': 418,
 'Clarksburg (CKB)': 419,
 'Clemson (CEU)': 420,
 'Hangzhou (HGH)': 421,
 'Scottsdale (SCF)': 422,
 'Salt Lake City (SLC)': 423,
 'Lewisburg (LWB)': 424,
 'Saskatoon (YXE)': 425,
 'Minot (MOT)': 426,
 'Rutland (RUT)': 427,
 'Portland (PWM)': 428,
 'San Diego (CLD)': 429,
 'St. Louis (STL)': 430,
 'Philadelphia (BBX)': 431,
 'San Antonio (SAT)': 432,
 'Binghamton (BGM)': 433,
 'London (LTN)': 434,
 'Fort Myers (RSW)': 435,
 'Madrid (MAD)': 436,
 'Oranjestad (AUA)': 437,
 'Charleston (CRW)': 438,
 'Jacksonville (JAX)': 439,
 'Bogota (BOG)': 440,
 'Tashkent (TAS)': 441,
 'Syracuse (SYR)': 442,
 'Nairobi (NBO)': 443,
 'St. Louis (SUS)': 444,
 'Monroe (MLU)': 445,
 'Boston (BOS)': 446,
 'Huntsville (HSV)': 447,
 'Charleston (CHS)': 448,
 'Tofino (YAZ)': 449,
 'Avignon (AVN)': 450,
 'Panama City (PTY)': 451,
 'Penticton (YYF)': 452,
 'Cape Town (CPT)': 453,
 'Grand Rapids (GRR)': 454,
 'Macon (MCN)': 455,
 'Honolulu (HNL)': 456,
 'Point Salines (GND)': 457,
 'Montreal (YMX)': 458,
 'Cincinnati (CVG)': 459,
 'San Jose (SJO)': 460,
 'Houston (DWH)': 461,
 'Poughkeepsie (POU)': 462,
 'Newport News (PHF)': 463,
 'Sitka (SIT)': 464,
 'Cedar Rapids (CID)': 465,
 'Pensacola (PNS)': 466,
 'Baltimore (MTN)': 467,
 'Lajes (TER)': 468,
 'Great Falls (GTF)': 469,
 'Norfolk (ORF)': 470,
 'Destin Fort Walton Beach (VPS)': 471,
 'Augusta (AUG)': 472,
 'Medicine Hat (YXH)': 473,
 'Harrison (HRO)': 474,
 'St. Louis (CPS)': 475,
 'Halifax (YHZ)': 476,
 'Abilene (ABI)': 477,
 'San Juan (SJU)': 478,
 'Aguadilla (BQN)': 479,
 'Lafayette (LFT)': 480,
 'Vero Beach (VRB)': 481,
 'Bismarck (BIS)': 482,
 'Benton Harbor (BEH)': 483,
 'Belgrade (BEG)': 484,
 'Bromont (ZBM)': 485,
 'Jacksonville (CRG)': 486,
 'Port-Menier (YPN)': 487,
 'Lethbridge (YQL)': 488,
 'Punta Cana (PUJ)': 489,
 'Paris (CDG)': 490,
 'Kingman (IGM)': 491,
 'Port of Spain (POS)': 492,
 'Tulsa (TUL)': 493,
 'Pittsburgh (PIT)': 494,
 'Riyadh (RUH)': 495,
 'Pontiac (PTK)': 496,
 'Lima (LIM)': 497,
 'Lisbon (LIS)': 498,
 'Toronto (YYZ)': 499,
 'Istanbul (IST)': 500,
 'Washington (IAD)': 501,
 'Louisville (SDF)': 502,
 'The Valley (AXA)': 503,
 'Fairbanks (FAI)': 504,
 'Jacksonville (OAJ)': 505,
 'Saint John (YSJ)': 506,
 'Rome (FCO)': 507}

In [51]:
#Here we are replacing the airport string for each cell in 'TO' and 'FROM' to its unique number from the dictionary.
#now that we have done that, our cells are int and not string

for i in range(len(merged_df['FROM'])):
    merged_df['FROM'][i]=airport_dict[merged_df['FROM'][i]]
for i in range(len(merged_df['TO'])):
    merged_df['TO'][i]=airport_dict[merged_df['TO'][i]]
    
merged_df

,DAY,MONTH,YEAR,DAY OF WEEK,FROM,TO,AIRCRAFT,MODEL,AGE,FLIGHT TIME,STD,ATD,STA,ATA,DIFFERENCE
0,5,5,2023,6,56,18,N455MB,GLF4,19,0:31,14:45,15:33,16:10,16:04,-6.0
1,5,5,2023,6,386,56,N455MB,GLF4,19,2:01,12:30,13:23,13:24,14:24,60.0
2,3,5,2023,4,376,386,N455MB,GLF4,19,1:44,07:30,08:24,10:17,11:08,51.0
3,3,5,2023,4,18,376,N455MB,GLF4,19,0:22,06:00,06:33,06:24,06:55,31.0
4,30,4,2023,1,316,18,N455MB,GLF4,19,4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179522,30,1,2023,2,56,223,XA-UYR,A306,30,2:13,06:30,09:16,10:28,10:29,1.0
179523,29,1,2023,1,220,56,XA-UYR,A306,30,3:51,08:15,01:44,14:00,06:35,995.0
179524,19,1,2023,5,56,223,XA-LRC,B762,36,2:04,16:55,17:04,18:05,18:08,3.0
179525,19,1,2023,5,379,56,XA-LRC,B762,36,4:13,10:30,09:21,15:25,14:34,-51.0
179526,19,1,2023,5,220,379,XA-LRC,B762,36,1:25,07:00,06:11,09:00,07:36,1356.0

In [52]:
#aircraft_type:
#Converting the aircraft number to int

aircraft_labels = merged_df["AIRCRAFT"].astype('category').cat.categories.to_list()
aircraft_rep_map={x:y for x,y in zip(aircraft_labels,list(range(0,len(aircraft_labels)+1)))}
merged_df["AIRCRAFT"].replace(aircraft_rep_map, inplace=True)
merged_df

,DAY,MONTH,YEAR,DAY OF WEEK,FROM,TO,AIRCRAFT,MODEL,AGE,FLIGHT TIME,STD,ATD,STA,ATA,DIFFERENCE
0,5,5,2023,6,56,18,2652,GLF4,19,0:31,14:45,15:33,16:10,16:04,-6.0
1,5,5,2023,6,386,56,2652,GLF4,19,2:01,12:30,13:23,13:24,14:24,60.0
2,3,5,2023,4,376,386,2652,GLF4,19,1:44,07:30,08:24,10:17,11:08,51.0
3,3,5,2023,4,18,376,2652,GLF4,19,0:22,06:00,06:33,06:24,06:55,31.0
4,30,4,2023,1,316,18,2652,GLF4,19,4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179522,30,1,2023,2,56,223,4676,A306,30,2:13,06:30,09:16,10:28,10:29,1.0
179523,29,1,2023,1,220,56,4676,A306,30,3:51,08:15,01:44,14:00,06:35,995.0
179524,19,1,2023,5,56,223,4668,B762,36,2:04,16:55,17:04,18:05,18:08,3.0
179525,19,1,2023,5,379,56,4668,B762,36,4:13,10:30,09:21,15:25,14:34,-51.0
179526,19,1,2023,5,220,379,4668,B762,36,1:25,07:00,06:11,09:00,07:36,1356.0

In [54]:
#model type:
#Converting the MODEL number to int

model_labels = merged_df["MODEL"].astype('category').cat.categories.to_list()
model_rep_map={x:y for x,y in zip(model_labels,list(range(0,len(model_labels)+1)))}
merged_df["MODEL"].replace(model_rep_map, inplace=True)
merged_df

,DAY,MONTH,YEAR,DAY OF WEEK,FROM,TO,AIRCRAFT,MODEL,AGE,FLIGHT TIME,STD,ATD,STA,ATA,DIFFERENCE
0,5,5,2023,6,56,18,2652,50,19,0:31,14:45,15:33,16:10,16:04,-6.0
1,5,5,2023,6,386,56,2652,50,19,2:01,12:30,13:23,13:24,14:24,60.0
2,3,5,2023,4,376,386,2652,50,19,1:44,07:30,08:24,10:17,11:08,51.0
3,3,5,2023,4,18,376,2652,50,19,0:22,06:00,06:33,06:24,06:55,31.0
4,30,4,2023,1,316,18,2652,50,19,4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179522,30,1,2023,2,56,223,4676,2,30,2:13,06:30,09:16,10:28,10:29,1.0
179523,29,1,2023,1,220,56,4676,2,30,3:51,08:15,01:44,14:00,06:35,995.0
179524,19,1,2023,5,56,223,4668,26,36,2:04,16:55,17:04,18:05,18:08,3.0
179525,19,1,2023,5,379,56,4668,26,36,4:13,10:30,09:21,15:25,14:34,-51.0
179526,19,1,2023,5,220,379,4668,26,36,1:25,07:00,06:11,09:00,07:36,1356.0

In [53]:
with open("model_dict.txt", "w") as file:
    file.write(json.dumps(model_rep_map))

In [55]:
#Here we are checking how many columns we still need to convert to int/float

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179527 entries, 0 to 179526
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DAY          179527 non-null  int64
 1   MONTH        179527 non-null  int64
 2   YEAR         179527 non-null  int64
 3   DAY OF WEEK  179527 non-null  int64
 4   FROM         179527 non-null  object
 5   TO           179527 non-null  object
 6   AIRCRAFT     179527 non-null  int64
 7   MODEL        179527 non-null  int64
 8   AGE          179527 non-null  int64
 9   FLIGHT TIME  179527 non-null  object
 10  STD          179527 non-null  object
 11  ATD          179527 non-null  object
 12  STA          179527 non-null  object
 13  ATA          179527 non-null  object
 14  DIFFERENCE   179527 non-null  float64
dtypes: float64(1), int64(7), object(7)
memory usage: 20.5+ MB

In [56]:
#Although we have numbers in TO and FROM columns, We see that they are still considered as strings, 
#Here we are converting them to ints

merged_df['FROM'] = merged_df['FROM'].astype(int)
merged_df['TO'] = merged_df['TO'].astype(int)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179527 entries, 0 to 179526
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DAY          179527 non-null  int64
 1   MONTH        179527 non-null  int64
 2   YEAR         179527 non-null  int64
 3   DAY OF WEEK  179527 non-null  int64
 4   FROM         179527 non-null  int32
 5   TO           179527 non-null  int32
 6   AIRCRAFT     179527 non-null  int64
 7   MODEL        179527 non-null  int64
 8   AGE          179527 non-null  int64
 9   FLIGHT TIME  179527 non-null  object
 10  STD          179527 non-null  object
 11  ATD          179527 non-null  object
 12  STA          179527 non-null  object
 13  ATA          179527 non-null  object
 14  DIFFERENCE   179527 non-null  float64
dtypes: float64(1), int32(2), int64(7), object(5)
memory usage: 19.2+ MB

In [64]:
#Here we are converting 'FLIGHT TIME', 'STD', 'ATD', 'STA', 'ATA' columns from string to int (the converted numbers are 
#represented in minutes), for example, 00:00 is 0 , 00:44 is 44, 23:59 is 1440.

def hour_to_minutes(time_string):
    hours, minutes = map(int, time_string.split(':'))
    return hours * 60 + minutes

merged_df['FLIGHT TIME'] = merged_df['FLIGHT TIME'].apply(hour_to_minutes)
merged_df['STD'] = merged_df['STD'].apply(hour_to_minutes)
merged_df['ATD'] = merged_df['ATD'].apply(hour_to_minutes)
merged_df['STA'] = merged_df['STA'].apply(hour_to_minutes)
merged_df['ATA'] = merged_df['ATA'].apply(hour_to_minutes)
merged_df

,DAY,MONTH,YEAR,DAY OF WEEK,FROM,TO,AIRCRAFT,MODEL,AGE,FLIGHT TIME,STD,ATD,STA,ATA,DIFFERENCE
0,5,5,2023,6,56,18,2652,50,19,31,885,933,970,964,-6.0
1,5,5,2023,6,386,56,2652,50,19,121,750,803,804,864,60.0
2,3,5,2023,4,376,386,2652,50,19,104,450,504,617,668,51.0
3,3,5,2023,4,18,376,2652,50,19,22,360,393,384,415,31.0
4,30,4,2023,1,316,18,2652,50,19,288,885,885,1354,1354,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179522,30,1,2023,2,56,223,4676,2,30,133,390,556,628,629,1.0
179523,29,1,2023,1,220,56,4676,2,30,231,495,104,840,395,995.0
179524,19,1,2023,5,56,223,4668,26,36,124,1015,1024,1085,1088,3.0
179525,19,1,2023,5,379,56,4668,26,36,253,630,561,925,874,-51.0
179526,19,1,2023,5,220,379,4668,26,36,85,420,371,540,456,1356.0

In [65]:
#Making sure that these columns are from type int

merged_df['FLIGHT TIME'] = merged_df['FLIGHT TIME'].astype(int)
merged_df['STD'] = merged_df['STD'].astype(int)
merged_df['ATD'] = merged_df['ATD'].astype(int)
merged_df['STA'] = merged_df['STA'].astype(int)
merged_df['ATA'] = merged_df['ATA'].astype(int)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 178991 entries, 0 to 179526
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DAY          178991 non-null  int64
 1   MONTH        178991 non-null  int64
 2   YEAR         178991 non-null  int64
 3   DAY OF WEEK  178991 non-null  int64
 4   FROM         178991 non-null  int32
 5   TO           178991 non-null  int32
 6   AIRCRAFT     178991 non-null  int64
 7   MODEL        178991 non-null  int64
 8   AGE          178991 non-null  int64
 9   FLIGHT TIME  178991 non-null  int32
 10  STD          178991 non-null  int32
 11  ATD          178991 non-null  int32
 12  STA          178991 non-null  int32
 13  ATA          178991 non-null  int32
 14  DIFFERENCE   178991 non-null  float64
dtypes: float64(1), int32(7), int64(7)
memory usage: 17.1 MB

In [66]:
#Here we are making sure that our dataframe looks as we want it to look

merged_df.head()

,DAY,MONTH,YEAR,DAY OF WEEK,FROM,TO,AIRCRAFT,MODEL,AGE,FLIGHT TIME,STD,ATD,STA,ATA,DIFFERENCE
0,5,5,2023,6,56,18,2652,50,19,31,885,933,970,964,-6.0
1,5,5,2023,6,386,56,2652,50,19,121,750,803,804,864,60.0
2,3,5,2023,4,376,386,2652,50,19,104,450,504,617,668,51.0
3,3,5,2023,4,18,376,2652,50,19,22,360,393,384,415,31.0
4,30,4,2023,1,316,18,2652,50,19,288,885,885,1354,1354,0.0

In [67]:
#Importing the dataframe to a CSV file in order to keep working on it on the next notebook which is Visualizations notebook

merged_df.to_csv("Merged_Numerical.csv", index=False)