<h1> Data Handling </h1>


<h3> Importing Libraries </h3>

In [3]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from bs4 import BeautifulSoup
import re
import requests
from datetime import datetime, timedelta

<h3> Loading the .csv files to Dataframes </h3>

In [2]:
df_arrivals = pd.read_csv("flight_arrivals_JFK_raw_data.csv")
df_departures = pd.read_csv("flight_departures_JFK_raw_data.csv")

<h3> Merging the dataframes to one dataframe called 'merged_df' </h3>

In [3]:
merged_df = pd.concat([df_arrivals, df_departures])
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS
0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,Landed 16:04
1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,Landed 14:24
2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,Landed 11:08
3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,Landed 06:55
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,Landed 22:34
...,...,...,...,...,...,...,...,...,...
63215,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,Landed 06:35
63216,22 Jan 2023,Mexico City (MEX),New York (JFK),B762 (XA-EFR),—,08:15,18:37,14:00,Diverted to ORD
63217,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,Landed 18:08
63218,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,Landed 14:34
63219,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,Landed 07:36

<h4> Removing duplicates </h4>

In [68]:
merged_df = merged_df.dropna()
merged_df

<h4> Saving the file as csv </h4>

In [5]:
merged_df.to_csv("check.csv")

<h4> Verifying that there are no NULL cells that need to be handled </h4>

In [84]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183360 entries, 0 to 183359
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         183360 non-null  datetime64[ns]
 1   FROM         183360 non-null  object
 2   TO           183360 non-null  object
 3   AIRCRAFT     183360 non-null  object
 4   FLIGHT TIME  183360 non-null  object
 5   STD          183360 non-null  object
 6   ATD          183360 non-null  object
 7   STA          183360 non-null  object
 8   STATUS       183360 non-null  object
 9   DIFFERENCE   183067 non-null  float64
 10  AGE          182083 non-null  object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 15.4+ MB

<h4> In the below command, we are looking for a non-null cells that contain '-' and delete all those rows </h4>

In [9]:
mask = merged_df.apply(lambda x: x.str.contains('—')).any(axis=1)
merged_df = merged_df[~mask]
print(merged_df)

              DATE                  FROM                    TO       AIRCRAFT  \
0      05 May 2023        New York (JFK)       Teterboro (TEB)  GLF4 (N455MB)
1      05 May 2023         Bermuda (BDA)        New York (JFK)  GLF4 (N455MB)
2      03 May 2023    White Plains (HPN)         Bermuda (BDA)  GLF4 (N455MB)
3      03 May 2023       Teterboro (TEB)    White Plains (HPN)  GLF4 (N455MB)
4      30 Apr 2023        Van Nuys (VNY)       Teterboro (TEB)  GLF4 (N455MB)
...            ...                   ...                   ...            ...
63214  30 Jan 2023        New York (JFK)         Chicago (ORD)  A306 (XA-UYR)
63215  29 Jan 2023     Mexico City (MEX)        New York (JFK)  A306 (XA-UYR)
63217  19 Jan 2023        New York (JFK)         Chicago (ORD)  B762 (XA-LRC)
63218  19 Jan 2023  Guatemala City (GUA)        New York (JFK)  B762 (XA-LRC)
63219  19 Jan 2023     Mexico City (MEX)  Guatemala City (GUA)  B762 (XA-LRC)

      FLIGHT TIME    STD    ATD    STA        STATUS
0            0:31  14:45  15:33  16:10  Landed 16:04
1            2:01  12:30  13:23  13:24  Landed 14:24
2            1:44  07:30  08:24  10:17  Landed 11:08
3            0:22  06:00  06:33  06:24  Landed 06:55
4            4:48  14:45  14:45  22:34  Landed 22:34
...           ...    ...    ...    ...           ...
63214        2:13  06:30  09:16  10:28  Landed 10:29
63215        3:51  08:15  01:44  14:00  Landed 06:35
63217        2:04  16:55  17:04  18:05  Landed 18:08
63218        4:13  10:30  09:21  15:25  Landed 14:34
63219        1:25  07:00  06:11  09:00  Landed 07:36

[183360 rows x 9 columns]

In [12]:
merged_df.to_csv("check.csv")

In [73]:
merged_df = pd.read_csv("check.csv")

<h4> This line of code is resetting the indexes </h4>

In [74]:
merged_df = merged_df.reset_index(drop=True)

<h4> Deleting 'Landed' part from the STATUS column </h4>

In [75]:
merged_df['STATUS'] = merged_df['STATUS'].str.replace('Landed ', '')
merged_df

,Unnamed: 0.1,Unnamed: 0,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE
0,0,0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,16:04,-6.0
1,1,1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,14:24,60.0
2,2,2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,11:08,51.0
3,3,3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,06:55,31.0
4,4,4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
183355,183355,183355,30 Jan 2023,New York (JFK),Chicago (ORD),A306 (XA-UYR),2:13,06:30,09:16,10:28,10:29,1.0
183356,183356,183356,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,06:35,995.0
183357,183357,183357,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,18:08,3.0
183358,183358,183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,14:34,-51.0
183359,183359,183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,07:36,1356.0

<h4> Deleteing the two first columns of indexes 'Unnamed' because they are not necessary </h4>

In [76]:
merged_df = merged_df.drop('Unnamed: 0', axis=1)
merged_df = merged_df.drop('Unnamed: 0.1', axis=1)
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE
0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,16:04,-6.0
1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,14:24,60.0
2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,11:08,51.0
3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,06:55,31.0
4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...
183355,30 Jan 2023,New York (JFK),Chicago (ORD),A306 (XA-UYR),2:13,06:30,09:16,10:28,10:29,1.0
183356,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,06:35,995.0
183357,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,18:08,3.0
183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,14:34,-51.0
183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,07:36,1356.0

<h4> In the below chunk of code, we are running in a loop on all the cells of 'STATUS' column and we are inserting to a new column called 'DITTERENCE' the difference bewteen 'STA' (scheduled time of arrival) and 'STATUS' (actual time of arrival) for each line accordingly  </h4>

In [17]:
difflist = []
for i in range(len(merged_df['STATUS'])):
    if ':' in merged_df['STA'][i] and ':' in merged_df['STATUS'][i]:
        time1 = datetime.strptime(merged_df['STA'][i], '%H:%M')
        time2 = datetime.strptime(merged_df['STATUS'][i], '%H:%M')
        diff = time2-time1
        total_minutes = diff.seconds // 60
        hours, minutes = divmod(total_minutes, 60)
        if diff.days < 0 and hours >= 23:
            diff = timedelta(1) - diff
            total_minutes = diff.seconds // 60
            total_minutes = -total_minutes
        else:
            total_minutes = diff.seconds // 60
        difflist.append(total_minutes)
    else:
            difflist.append(None)



merged_df['DIFFERENCE'] = difflist
merged_df

,Unnamed: 0,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE
0,0,05 May 2023,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,16:04,-6.0
1,1,05 May 2023,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,14:24,60.0
2,2,03 May 2023,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,11:08,51.0
3,3,03 May 2023,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,06:55,31.0
4,4,30 Apr 2023,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...,...
183355,183355,30 Jan 2023,New York (JFK),Chicago (ORD),A306 (XA-UYR),2:13,06:30,09:16,10:28,10:29,1.0
183356,183356,29 Jan 2023,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,06:35,995.0
183357,183357,19 Jan 2023,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,18:08,3.0
183358,183358,19 Jan 2023,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,14:34,-51.0
183359,183359,19 Jan 2023,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,07:36,1356.0

In [18]:
merged_df.to_csv("check.csv")

<h4> Verifying that there are no NULL cells that need to be handled </h4>

In [21]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183067 entries, 0 to 183359
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   183067 non-null  int64
 1   DATE         183067 non-null  object
 2   FROM         183067 non-null  object
 3   TO           183067 non-null  object
 4   AIRCRAFT     183067 non-null  object
 5   FLIGHT TIME  183067 non-null  object
 6   STD          183067 non-null  object
 7   ATD          183067 non-null  object
 8   STA          183067 non-null  object
 9   STATUS       183067 non-null  object
 10  DIFFERENCE   183067 non-null  float64
dtypes: float64(1), int64(1), object(9)
memory usage: 16.8+ MB

In [20]:
merged_df.dropna(subset=['DIFFERENCE'], inplace=True)

<h4> In this step we are creating a new list called 'arcrft_reg' which represent the actual aircraft of the flight and we are copying into this list only the string that inside of the brackets </h4>

In [19]:
arcrft_reg = [item.split('(')[-1].strip(')') for item in merged_df['AIRCRAFT']]
arcrft_reg

['N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'GLF4',
 'GLF4',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'N455MB',
 'B-222J',
 'B-2077',
 'B-223A',
 'B-222J',
 'B-222J',
 'B-222N',
 'B-2077',
 'B-222J',
 'B-2077',
 'B-2077',
 'B-221S',
 'B-2076',
 'B-222J',
 'B-2076',
 'B-2076',
 'B-2077',
 'B-222J',
 'B-222V',
 'B-220E',
 'B-220E',
 'B-220E',
 'B-2082',
 'B-2083',
 'B-222J',
 'B-222J',
 'B-2082',
 'B-2082',
 'B-2083',
 'B-221S',
 'B-221S',
 'B-2076',
 'B-2076',
 'B-2076',
 'B-2076',
 'B-220E',
 'B-220E',
 'B-2082',
 'B-2082',
 'B-2082',
 'B-220F',
 'B-220F',
 'B-222K',
 'B-222K',
 'B-2082',
 'B-2082',
 'B-222K',
 'B-222K',
 'B-220F',
 'B-220F',
 'B-222H',
 'B-220E',
 'B-222V',
 'B-2076',
 'B-2076',
 'B-222H',
 'B-222H',
 'B-222V',
 'B-222V',
 'B-2083',
 'B-2083',
 'B-2083',
 'B-2083',
 'B-2083',
 'B-2083',
 'B-2076',
 'B-2076',
 'B-2077',
 'B-2077',
 'B-222K',
 'B-222K',
 'B-222N',
 'B-222N',
 'B-221W',
 'B-221W',
 'B-222K',
 'B-222K',
 'B-2082',
 'B-2082',
 'B-2077',
 'B-2077',
 'B-222H',
 'B-222H',
 'B-222N',
 'B-222N',
 'B-222K',
 'B-222K',
 'B-2077',
 'B-2077',
 'B-2083',
 'B-2083',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-222N',
 'B-222N',
 'B-222N',
 'B-222N',
 'B-222K',
 'B-222K',
 'B-2076',
 'B-2076',
 'B-220E',
 'B-220E',
 'B-221W',
 'B-221W',
 'B-222J',
 'B-222J',
 'B-222K',
 'B-222K',
 'B-2083',
 'B-2083',
 'B-220F',
 'B-220F',
 'B-222H',
 'B-222H',
 'B-222J',
 'B-222J',
 'B-222N',
 'B-222N',
 'B-220E',
 'B-220E',
 'B-2083',
 'B-2083',
 'B-221W',
 'B-221W',
 'B-2076',
 'B-2076',
 'B-221S',
 'B-221S',
 'B-220E',
 'B-220E',
 'B-2082',
 'B-2082',
 'B-222H',
 'B-222H',
 'B-2083',
 'B-2083',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-2077',
 'B-220E',
 'B-222H',
 'B-222H',
 'B-2083',
 'B-2083',
 'B-222H',
 'B-222H',
 'B-222K',
 'B-222K',
 'B-222H',
 'B-222H',
 'N251SY',
 'N261SY',
 'N246SY',
 'N241SY',
 'N247SY',
 'N307SY',
 'N614CZ',
 'N307SY',
 'N313SY',
 'N247SY',
 'N310SY',
 'N607CZ',
 'N297SY',
 'N259SY',
 'N603CZ',
 'N311SY',
 'N250SY',
 'N241SY',
 'N604CZ',
 'N313SY',
 'N613CZ',
 'N323SY',
 'N312SY',
 'N306SY',
 'N280SY',
 'N311SY',
 'N625CA',
 'N625CA',
 'N641CA',
 'N641CA',
 'N162PQ',
 'N162PQ',
 'N712EV',
 'N712EV',
 'N607SK',
 'N607SK',
 'N607SK',
 'N607SK',
 'N625CA',
 'N625CA',
 'N641CA',
 'N641CA',
 'N712EV',
 'N712EV',
 'N712EV',
 'N712EV',
 'N609SK',
 'N609SK',
 'N625CA',
 'N625CA',
 'N608SK',
 'N608SK',
 'N712EV',
 'N712EV',
 'N607SK',
 'N607SK',
 'N607SK',
 'N607SK',
 'N608SK',
 'N608SK',
 'N712EV',
 'N712EV',
 'N804SK',
 'N804SK',
 'N641CA',
 'N641CA',
 'N712EV',
 'N712EV',
 'N608SK',
 'N608SK',
 'N625CA',
 'N625CA',
 'N712EV',
 'N712EV',
 'N641CA',
 'N641CA',
 'N608SK',
 'N608SK',
 'N609SK',
 'N609SK',
 'N692CA',
 'N554CA',
 'N806SK',
 'N836SK',
 'N822SK',
 'N609SK',
 'N549CA',
 'N803SK',
 'N840SK',
 'N838SK',
 'N554CA',
 'N689CA',
 'N804SK',
 'N809SK',
 'N170PQ',
 'N805SK',
 'N803SK',
 'N822SK',
 'N162PQ',
 'N816SK',
 'N802SK',
 'N679CA',
 'N170PQ',
 'N554CA',
 'N170PQ',
 'N832SK',
 'N161PQ',
 'N679CA',
 'N187PQ',
 'N689CA',
 'N816SK',
 'N800SK',
 'N689CA',
 'N897SK',
 'N689CA',
 'N897SK',
 'N800SK',
 'N816SK',
 'N816SK',
 'N692CA',
 'N692CA',
 'N161PQ',
 'N839SK',
 'N549CA',
 'N161PQ',
 'N824SK',
 'N187PQ',
 'N161PQ',
 'N187PQ',
 'N549CA',
 'N187PQ',
 'N897SK',
 'N817SK',
 'N689CA',
 'N693CA',
 'N800SK',
 'N809SK',
 'N804SK',
 'N689CA',
 'N839SK',
 'N817SK',
 'N817SK',
 'N187PQ',
 'N802SK',
 'N802SK',
 'N827SK',
 'N827SK',
 'N693CA',
 'N804SK',
 'N824SK',
 'N831SK',
 'N304SY',
 'N830SK',
 'N806SK',
 'N830SK',
 'N689CA',
 'N549CA',
 'N822SK',
 'N803SK',
 'N822SK',
 'N839SK',
 'N897SK',
 'N829SK',
 'N897SK',
 'N822SK',
 'N806SK',
 'N897SK',
 'N804SK',
 'N692CA',
 'N549CA',
 'N817SK',
 'N170PQ',
 'N170PQ',
 'N804SK',
 'N834SK',
 'N442SW',
 'N873AS',
 'N702BR',
 'N506CA',
 'N922EV',
 'N873AS',
 'N498CA',
 'N702BR',
 'N936EV',
 'N922EV',
 'N477CA',
 'N926EV',
 'N506CA',
 'N873AS',
 'N459SW',
 'N921EV',
 'N926EV',
 'N449SW',
 'N506CA',
 'N926EV',
 'N442SW',
 'N641CA',
 'N506CA',
 'N873AS',
 'N926EV',
 'N926EV',
 'N625CA',
 'N461SW',
 'N926EV',
 'N459SW',
 'N873AS',
 'N921EV',
 'N498CA',
 'N442SW',
 'N873AS',
 'N702BR',
 'N926EV',
 'N460SW',
 'N477CA',
 'N702BR',
 'N449SW',
 'N921EV',
 'N926EV',
 'N459SW',
 'N922EV',
 'N461SW',
 'N921EV',
 'N702BR',
 'N498CA',
 'N477CA',
 'N921EV',
 'N878AS',
 'N459SW',
 'N449SW',
 'N460SW',
 'N878AS',
 'N162PQ',
 'N449SW',
 'N921EV',
 'N449SW',
 'N922EV',
 'N926EV',
 'N878AS',
 'N446SW',
 'N873AS',
 'N878AS',
 'N461SW',
 'N874AS',
 'N460SW',
 'N445SW',
 'N461SW',
 'N936EV',
 'N461SW',
 'N445SW',
 'N873AS',
 'N936EV',
 'N446SW',
 'N498CA',
 'N439SW',
 'N922EV',
 'N926EV',
 'N922EV',
 'N461SW',
 'N293SY',
 'N607CZ',
 'N247SY',
 'N258SY',
 'N295SY',
 'N243SY',
 'N247SY',
 'N261SY',
 'N254SY',
 'N242SY',
 'N256SY',
 'N308SY',
 'N305SY',
 'N295SY',
 'N294SY',
 'N254SY',
 'N294SY',
 'N254SY',
 'N295SY',
 'N242SY',
 'N253SY',
 'N303SY',
 'N293SY',
 'N258SY',
 'N252SY',
 'N243SY',
 'N303SY',
 'N259SY',
 'N246SY',
 'N607CZ',
 'N247SY',
 'N276SY',
 'N247SY',
 'N260SY',
 'N307SY',
 'N822SK',
 'N813SK',
 'N293SY',
 'N548CA',
 'N800SK',
 'N898SK',
 'N548CA',
 'N802SK',
 'N802SK',
 'N805SK',
 'N604CZ',
 'N809SK',
 'N897SK',
 'N803SK',
 'N170PQ',
 'N805SK',
 'N823SK',
 'N822SK',
 'N304SY',
 'N689CA',
 'N809SK',
 'N162PQ',
 'N548CA',
 'N830SK',
 'N805SK',
 'N840SK',
 'N840SK',
 'N162PQ',
 'N899SK',
 'N813SK',
 'N242SY',
 'N827NW',
 'N823NW',
 'N831NW',
 'N826NW',
 'N824NW',
 'N830NW',
 'N827NW',
 'N416DX',
 'N826NW',
 'N823NW',
 'N828NW',
 'N827NW',
 'N824NW',
 'N822NW',
 'N825NW',
 'N831NW',
 'N828NW',
 'N826NW',
 'N812NW',
 'N820NW',
 'N825NW',
 'N415DX',
 'N817NW',
 'N831NW',
 'N408DX',
 'N408DX',
 'N824NW',
 'N813NW',
 'N804NW',
 'N803NW',
 'N823NW',
 'N813NW',
 'N830NW',
 'N825NW',
 'N826NW',
 'N824NW',
 'N808NW',
 'N826NW',
 'N822NW',
 'N823NW',
 'N821NW',
 'N407DX',
 'N810NW',
 'N409DX',
 'N420DX',
 'N420DX',
 'N806NW',
 'N812NW',
 'N827NW',
 'N818NW',
 'N815NW',
 'N816NW',
 'N817NW',
 'N802NW',
 'N820NW',
 'N830NW',
 'N821NW',
 'N821NW',
 'N821NW',
 'N827NW',
 'N826NW',
 'N826NW',
 'N810NW',
 'N810NW',
 'N820NW',
 'N825NW',
 'N807NW',
 'N806NW',
 'N811NW',
 'N825NW',
 'N811NW',
 'N806NW',
 'N821NW',
 'N813NW',
 'N801NW',
 'N830NW',
 'N812NW',
 'N825NW',
 'N809NW',
 'N828NW',
 'N809NW',
 'N811NW',
 'N805NW',
 'N822NW',
 'N809NW',
 'N806NW',
 'N825NW',
 'N859NW',
 'N818NW',
 'N414DZ',
 'N825NW',
 'N812NW',
 'N826NW',
 'N825NW',
 'N414DZ',
 'N805NW',
 'N823NW',
 'N822NW',
 'N812NW',
 'N818NW',
 'N824NW',
 'N822NW',
 'N828NW',
 'N823NW',
 'N825NW',
 'N824NW',
 'N818NW',
 'N804NW',
 'N831NW',
 'N831NW',
 'N817NW',
 'N810NW',
 'N805NW',
 'N818NW',
 'N829NW',
 'N821NW',
 'N813NW',
 'N821NW',
 'N830NW',
 'N825NW',
 'N802NW',
 'N823NW',
 'N827NW',
 'N822NW',
 'N801NW',
 'N817NW',
 'N818NW',
 'N803NW',
 'N802NW',
 'N821NW',
 'N814NW',
 'N817NW',
 'N809NW',
 'N830NW',
 'N811NW',
 'N807NW',
 'N830NW',
 'N810NW',
 'N828NW',
 'N821NW',
 'N815NW',
 'N802NW',
 'N803NW',
 'N827NW',
 'N824NW',
 'N814NW',
 'N824NW',
 'N830NW',
 'N817NW',
 'N828NW',
 'N811NW',
 'N829NW',
 'N807NW',
 'N819NW',
 'N419DX',
 'N414DZ',
 'N414DZ',
 'N414DZ',
 'N411DX',
 'N404DX',
 'N417DX',
 'N418DX',
 'N812NW',
 'N830NW',
 'N814NW',
 'N807NW',
 'N808NW',
 'N812NW',
 'N816NW',
 'N815NW',
 'N828NW',
 'N816NW',
 'N829NW',
 'N817NW',
 'N821NW',
 'N821NW',
 'N807NW',
 'N818NW',
 'N804NW',
 'N804NW',
 'N829NW',
 'N818NW',
 'N807NW',
 'N407DX',
 'N853NW',
 'N813NW',
 'N802NW',
 'N827NW',
 'N804NW',
 'N804NW',
 'N809NW',
 'N809NW',
 'N829NW',
 'N829NW',
 'N804NW',
 'N809NW',
 'N807NW',
 'N811NW',
 'N822NW',
 'N802NW',
 'N808NW',
 'N802NW',
 'N817NW',
 'N824NW',
 'N809NW',
 'N824NW',
 'N813NW',
 'N812NW',
 'N807NW',
 'N808NW',
 'N804NW',
 'N817NW',
 'N813NW',
 'N802NW',
 'N805NW',
 'N822NW',
 'N814NW',
 'N813NW',
 'N826NW',
 'N825NW',
 'N807NW',
 'N813NW',
 'N802NW',
 'N814NW',
 'N829NW',
 'N813NW',
 'N824NW',
 'N828NW',
 'N831NW',
 'N411DX',
 'N409DX',
 'N409DX',
 'N807NW',
 'N831NW',
 'N802NW',
 'N830NW',
 'N412DX',
 'N809NW',
 'N802NW',
 'N830NW',
 'N830NW',
 'N403DX',
 'N409DX',
 'N409DX',
 'N409DX',
 'N805NW',
 'N828NW',
 'N821NW',
 'N809NW',
 'N806NW',
 'N822NW',
 'N823NW',
 'N804NW',
 'N826NW',
 'N830NW',
 'N805NW',
 'N805NW',
 'N812NW',
 'N830NW',
 'N807NW',
 'N824NW',
 'N825NW',
 'N828NW',
 'N830NW',
 'N822NW',
 'N808NW',
 'N826NW',
 'N826NW',
 'N831NW',
 'N814NW',
 'N828NW',
 'N814NW',
 'N802NW',
 'N807NW',
 'N823NW',
 'N860NW',
 'N861NW',
 'N861NW',
 'N859NW',
 'N854NW',
 'N854NW',
 'N854NW',
 'N854NW',
 'N854NW',
 'N854NW',
 'N857NW',
 'N855NW',
 'N855NW',
 'N852NW',
 'N854NW',
 'N854NW',
 'N858NW',
 'N859NW',
 'N861NW',
 'N858NW',
 'N858NW',
 'N405DX',
 'N411DX',
 'N404DX',
 'N410DZ',
 'N417DX',
 'N405DX',
 'N412DX',
 'N402DX',
 'N406DX',
 'N404DX',
 'N405DX',
 'N402DX',
 'N409DX',
 'N418DX',
 'N401DZ',
 'N416DX',
 'N403DX',
 'N411DX',
 'N409DX',
 'N408DX',
 'N411DX',
 'N403DX',
 'N410DZ',
 'N405DX',
 'N805NW',
 'N812NW',
 'N809NW',
 'N828NW',
 'N827NW',
 'N825NW',
 'N813NW',
 'N807NW',
 'N828NW',
 'N828NW',
 'N410DZ',
 'N828MH',
 'N827MH',
 'N838MH',
 'N843MH',
 'N844MH',
 'N844MH',
 'N843MH',
 'N827MH',
 'N835MH',
 'N835MH',
 'N837MH',
 'N833MH',
 'N807NW',
 'N829NW',
 'N806NW',
 'N809NW',
 'N813NW',
 'N405DX',
 'N824NW',
 'N406DX',
 'N802NW',
 'N807NW',
 'N416DX',
 'N828NW',
 'N412DX',
 'N805NW',
 'N409DX',
 'N826NW',
 'N809NW',
 'N410DZ',
 'N824NW',
 'N907XJ',
 'N907XJ',
 'N186PQ',
 'N186PQ',
 'N605LR',
 'N605LR',
 'N313PQ',
 'N313PQ',
 'N924XJ',
 'N924XJ',
 'N349PQ',
 'N349PQ',
 'N303PQ',
 'N303PQ',
 'N181PQ',
 'N181PQ',
 ...]

<h4> Saving to a DataFrame </h4>

In [21]:
df_arcrft_reg = pd.DataFrame(arcrft_reg)
df_arcrft_reg

             0
0       N455MB
1       N455MB
2       N455MB
3       N455MB
4       N455MB
...        ...
183062  XA-UYR
183063  XA-UYR
183064  XA-LRC
183065  XA-LRC
183066  XA-LRC

[183067 rows x 1 columns]

<h4> Removing duplicates </h4>

In [22]:
df_arcrft_reg = df_arcrft_reg.drop_duplicates()
df_arcrft_reg

             0
0       N455MB
132       GLF4
139     B-222J
140     B-2077
141     B-223A
...        ...
182896  OE-IFB
183019  XA-LRC
183023  XA-GGL
183031  XA-EFR
183041  XA-UYR

[4923 rows x 1 columns]

<h5> Saving to a csv file </h5>

In [63]:
df_arcrft_reg.to_csv("aircraft_reg_raw.csv")

<h4> after we save the file in the line above, we worked on it in the Arrivals scraping Notebook. in the below line of code we are reading from the csv to a dataframe and we cleaning all the none-null cells than containg "-" in them, because they are meaningless </h4>

In [4]:
df_arcrft_age = pd.read_csv("aircraft_reg_new.csv")

In [6]:
df_arcrft_age = df_arcrft_age.replace("-", np.nan)

In [7]:
df_arcrft_age = df_arcrft_age.dropna()

In [8]:
df_arcrft_age.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4876 entries, 0 to 4879
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4876 non-null   int64
 1   FLIGHT REG  4876 non-null   object
 2   AGE         4876 non-null   object
dtypes: int64(1), object(2)
memory usage: 152.4+ KB

<h4> In the below step we are looking for Brand New airplanes and changing them to 0, in addition, we are deleting from each cell of 'AGE' and delete the 'years' from the string </h4>

In [32]:
df_arcrft_age.replace('Brand new', 0, inplace=True)
df_arcrft_age['AGE'] = df_arcrft_age['AGE'].apply(lambda x: str(x).replace(' year', '') if isinstance(x, str) else x)

<h1> LOOKS AWSOME! </h1>

In [79]:
df_arcrft_age

      Unnamed: 0 FLIGHT REG AGE
0              0     N455MB  19
1              1     B-222J   0
2              2     B-2077  13
3              3     B-223A   0
4              4     B-222N   0
...          ...        ...  ..
4875        4875     OE-IFB  19
4876        4876     XA-LRC  36
4877        4877     XA-GGL  31
4878        4878     XA-EFR  35
4879        4879     XA-UYR  30

[4876 rows x 3 columns]

<h2> In the following 3 chunks of code we are doing the follwing: <br> 1. creating a new column called 'AGE'. <br> 2. extracting the string of the aircraft inside the brackets. <br> 3. for each row, we are looking in the _df_arcrft_age for the age and copying it to the 'AGE' column in the merged DataFrame </h2>

In [80]:
merged_df['AGE'] = pd.Series([])
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE
0,2023-05-05,New York (JFK),Teterboro (TEB),GLF4 (N455MB),0:31,14:45,15:33,16:10,16:04,-6.0,NaN
1,2023-05-05,Bermuda (BDA),New York (JFK),GLF4 (N455MB),2:01,12:30,13:23,13:24,14:24,60.0,NaN
2,2023-05-03,White Plains (HPN),Bermuda (BDA),GLF4 (N455MB),1:44,07:30,08:24,10:17,11:08,51.0,NaN
3,2023-05-03,Teterboro (TEB),White Plains (HPN),GLF4 (N455MB),0:22,06:00,06:33,06:24,06:55,31.0,NaN
4,2023-04-30,Van Nuys (VNY),Teterboro (TEB),GLF4 (N455MB),4:48,14:45,14:45,22:34,22:34,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
183355,2023-01-30,New York (JFK),Chicago (ORD),A306 (XA-UYR),2:13,06:30,09:16,10:28,10:29,1.0,NaN
183356,2023-01-29,Mexico City (MEX),New York (JFK),A306 (XA-UYR),3:51,08:15,01:44,14:00,06:35,995.0,NaN
183357,2023-01-19,New York (JFK),Chicago (ORD),B762 (XA-LRC),2:04,16:55,17:04,18:05,18:08,3.0,NaN
183358,2023-01-19,Guatemala City (GUA),New York (JFK),B762 (XA-LRC),4:13,10:30,09:21,15:25,14:34,-51.0,NaN
183359,2023-01-19,Mexico City (MEX),Guatemala City (GUA),B762 (XA-LRC),1:25,07:00,06:11,09:00,07:36,1356.0,NaN

In [81]:
merged_df['AIRCRAFT'] = [item.split('(')[-1].strip(')') for item in merged_df['AIRCRAFT']]
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE
0,2023-05-05,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,NaN
1,2023-05-05,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,NaN
2,2023-05-03,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,NaN
3,2023-05-03,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,NaN
4,2023-04-30,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
183355,2023-01-30,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,NaN
183356,2023-01-29,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,NaN
183357,2023-01-19,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,NaN
183358,2023-01-19,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,NaN
183359,2023-01-19,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,NaN

In [82]:
for index, row in merged_df.iterrows():
    aircraft = row['AIRCRAFT']
    df_filtered = df_arcrft_age.loc[df_arcrft_age['FLIGHT REG'] == aircraft, 'AGE']
    if not df_filtered.empty:
        age = df_filtered.iloc[0]
        merged_df.at[index, 'AGE'] = age
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE
0,2023-05-05,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,19
1,2023-05-05,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,19
2,2023-05-03,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,19
3,2023-05-03,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,19
4,2023-04-30,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,19
...,...,...,...,...,...,...,...,...,...,...,...
183355,2023-01-30,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,30
183356,2023-01-29,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,30
183357,2023-01-19,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,36
183358,2023-01-19,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,36
183359,2023-01-19,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,36

<h4> checking for null cells that need to be clean </h4>

In [45]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183067 entries, 0 to 183359
Data columns (total 12 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Unnamed: 0   183067 non-null  int64
 1   DATE         183067 non-null  datetime64[ns]
 2   FROM         183067 non-null  object
 3   TO           183067 non-null  object
 4   AIRCRAFT     183067 non-null  object
 5   FLIGHT TIME  183067 non-null  object
 6   STD          183067 non-null  object
 7   ATD          183067 non-null  object
 8   STA          183067 non-null  object
 9   STATUS       183067 non-null  object
 10  DIFFERENCE   183067 non-null  float64
 11  AGE          181793 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(9)
memory usage: 22.2+ MB

In [85]:
merged_df.dropna(subset=['AGE'], inplace=True)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 182083 entries, 0 to 183359
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         182083 non-null  datetime64[ns]
 1   FROM         182083 non-null  object
 2   TO           182083 non-null  object
 3   AIRCRAFT     182083 non-null  object
 4   FLIGHT TIME  182083 non-null  object
 5   STD          182083 non-null  object
 6   ATD          182083 non-null  object
 7   STA          182083 non-null  object
 8   STATUS       182083 non-null  object
 9   DIFFERENCE   181793 non-null  float64
 10  AGE          182083 non-null  object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 16.7+ MB

In [86]:
merged_df.dropna(subset=['DIFFERENCE'], inplace=True)
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181793 entries, 0 to 183359
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         181793 non-null  datetime64[ns]
 1   FROM         181793 non-null  object
 2   TO           181793 non-null  object
 3   AIRCRAFT     181793 non-null  object
 4   FLIGHT TIME  181793 non-null  object
 5   STD          181793 non-null  object
 6   ATD          181793 non-null  object
 7   STA          181793 non-null  object
 8   STATUS       181793 non-null  object
 9   DIFFERENCE   181793 non-null  float64
 10  AGE          181793 non-null  object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 16.6+ MB

In [88]:
merged_df['DAY'] = merged_df['DATE'].dt.day
merged_df['MONTH'] = merged_df['DATE'].dt.month
merged_df['YEAR'] = merged_df['DATE'].dt.year
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,DAY,MONTH,YEAR
0,2023-05-05,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,19,5,5,2023
1,2023-05-05,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,19,5,5,2023
2,2023-05-03,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,19,3,5,2023
3,2023-05-03,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,19,3,5,2023
4,2023-04-30,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,19,30,4,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183355,2023-01-30,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,30,30,1,2023
183356,2023-01-29,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,30,29,1,2023
183357,2023-01-19,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,36,19,1,2023
183358,2023-01-19,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,36,19,1,2023
183359,2023-01-19,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,36,19,1,2023

In [90]:
merged_df['DAY OF WEEK'] = merged_df['DATE'].dt.day_name()
merged_df

,DATE,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,DAY,MONTH,YEAR,DAY OF WEEK
0,2023-05-05,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,19,5,5,2023,Friday
1,2023-05-05,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,19,5,5,2023,Friday
2,2023-05-03,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,19,3,5,2023,Wednesday
3,2023-05-03,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,19,3,5,2023,Wednesday
4,2023-04-30,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,19,30,4,2023,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183355,2023-01-30,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,30,30,1,2023,Monday
183356,2023-01-29,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,30,29,1,2023,Sunday
183357,2023-01-19,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,36,19,1,2023,Thursday
183358,2023-01-19,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,36,19,1,2023,Thursday
183359,2023-01-19,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,36,19,1,2023,Thursday

In [92]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181793 entries, 0 to 183359
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   DATE         181793 non-null  datetime64[ns]
 1   FROM         181793 non-null  object
 2   TO           181793 non-null  object
 3   AIRCRAFT     181793 non-null  object
 4   FLIGHT TIME  181793 non-null  object
 5   STD          181793 non-null  object
 6   ATD          181793 non-null  object
 7   STA          181793 non-null  object
 8   STATUS       181793 non-null  object
 9   DIFFERENCE   181793 non-null  float64
 10  AGE          181793 non-null  object
 11  DAY          181793 non-null  int64
 12  MONTH        181793 non-null  int64
 13  YEAR         181793 non-null  int64
 14  DAY OF WEEK  181793 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(10)
memory usage: 22.2+ MB

In [96]:
merged_df = merged_df.drop('DATE', axis=1)
merged_df

,FROM,TO,AIRCRAFT,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE,AGE,DAY,MONTH,YEAR,DAY OF WEEK
0,New York (JFK),Teterboro (TEB),N455MB,0:31,14:45,15:33,16:10,16:04,-6.0,19,5,5,2023,Friday
1,Bermuda (BDA),New York (JFK),N455MB,2:01,12:30,13:23,13:24,14:24,60.0,19,5,5,2023,Friday
2,White Plains (HPN),Bermuda (BDA),N455MB,1:44,07:30,08:24,10:17,11:08,51.0,19,3,5,2023,Wednesday
3,Teterboro (TEB),White Plains (HPN),N455MB,0:22,06:00,06:33,06:24,06:55,31.0,19,3,5,2023,Wednesday
4,Van Nuys (VNY),Teterboro (TEB),N455MB,4:48,14:45,14:45,22:34,22:34,0.0,19,30,4,2023,Sunday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183355,New York (JFK),Chicago (ORD),XA-UYR,2:13,06:30,09:16,10:28,10:29,1.0,30,30,1,2023,Monday
183356,Mexico City (MEX),New York (JFK),XA-UYR,3:51,08:15,01:44,14:00,06:35,995.0,30,29,1,2023,Sunday
183357,New York (JFK),Chicago (ORD),XA-LRC,2:04,16:55,17:04,18:05,18:08,3.0,36,19,1,2023,Thursday
183358,Guatemala City (GUA),New York (JFK),XA-LRC,4:13,10:30,09:21,15:25,14:34,-51.0,36,19,1,2023,Thursday
183359,Mexico City (MEX),Guatemala City (GUA),XA-LRC,1:25,07:00,06:11,09:00,07:36,1356.0,36,19,1,2023,Thursday

In [97]:
new_order = ['DAY', 'MONTH', 'YEAR', 'DAY OF WEEK', 'FROM', 'TO', 'AIRCRAFT', 'AGE', 'FLIGHT TIME', 'STD', 'ATD', 'STA', 'STATUS', 'DIFFERENCE']
merged_df = merged_df.reindex(columns=new_order)
merged_df

,DAY,MONTH,YEAR,DAY OF WEEK,FROM,TO,AIRCRAFT,AGE,FLIGHT TIME,STD,ATD,STA,STATUS,DIFFERENCE
0,5,5,2023,Friday,New York (JFK),Teterboro (TEB),N455MB,19,0:31,14:45,15:33,16:10,16:04,-6.0
1,5,5,2023,Friday,Bermuda (BDA),New York (JFK),N455MB,19,2:01,12:30,13:23,13:24,14:24,60.0
2,3,5,2023,Wednesday,White Plains (HPN),Bermuda (BDA),N455MB,19,1:44,07:30,08:24,10:17,11:08,51.0
3,3,5,2023,Wednesday,Teterboro (TEB),White Plains (HPN),N455MB,19,0:22,06:00,06:33,06:24,06:55,31.0
4,30,4,2023,Sunday,Van Nuys (VNY),Teterboro (TEB),N455MB,19,4:48,14:45,14:45,22:34,22:34,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
183355,30,1,2023,Monday,New York (JFK),Chicago (ORD),XA-UYR,30,2:13,06:30,09:16,10:28,10:29,1.0
183356,29,1,2023,Sunday,Mexico City (MEX),New York (JFK),XA-UYR,30,3:51,08:15,01:44,14:00,06:35,995.0
183357,19,1,2023,Thursday,New York (JFK),Chicago (ORD),XA-LRC,36,2:04,16:55,17:04,18:05,18:08,3.0
183358,19,1,2023,Thursday,Guatemala City (GUA),New York (JFK),XA-LRC,36,4:13,10:30,09:21,15:25,14:34,-51.0
183359,19,1,2023,Thursday,Mexico City (MEX),Guatemala City (GUA),XA-LRC,36,1:25,07:00,06:11,09:00,07:36,1356.0

In [98]:
merged_df.to_csv("Merged_final.csv")